#confirmationModal.modal.hide{data: {width: '400px'}}
  .modal-header
    .pull-right= link_to raw('&times;'), '#', class: 'close', data: {dismiss: 'modal'}
    %h3 Please Confirm
  .modal-body
    #confirmationModalQuestion &nbsp;
    #confirmationModalExplanation &nbsp;
  .modal-footer
    .confirmationModalButtons
      = link_to 'Yes I Am', '#', class: 'btn btn-danger', id: 'confirmationModalYes'
      = link_to 'Cancel', '#', class: 'btn', id: 'confirmationModalNo'
