#hubModal.modal.hide(data-width='400px')
  .modal-header
    .pull-right= link_to raw('&times;'), '#', class: 'close', data: {dismiss: 'modal'}
    %h3 Create a new Group
    .container(ng-class="alertclass" ng-show='addhub_alert')
      %a.close(data-dismiss="alert") &#215;
      .content
        .row
          #alertContainer
            %ul
              %span {{addhub_result}}
              %span(ng-repeat="(key, values) in jsonErrors")
                %li(ng-repeat="value in values")
                  {{key | capitalize}} {{value}}
  .modal-body
    %form(ng-submit="addHub()")
      -#%input(sv-google-place id='hub_formatted_location' type='text' class='input-xlarge' placeholder="Enter the Group's Location" ng-model='newHub.formatted_location')

      %fieldset
        .control-group
          .controls
            %input(id='hub_group_name' type='text' class='input-xlarge' placeholder='Enter your new group name' ng-model="newHub.group_name")
          .controls
            -#%input(sv-google-place id='hub_formatted_location' type='text' class='input-xlarge' placeholder="Enter the Group's Location" ng-model='newHub.formatted_location')
  .modal-footer
    %input(sv-google-place id='hub_formatted_location' type='text' class='input-xlarge' placeholder="Enter the Group's Location" ng-model='newHub.formatted_location')

    %fieldset
      .control-group
        .controls
          %button(ng-click="addHub()" class='btn btn-primary btn-bold' ng-hide='modal.saved') Angular Add Hub <i class="icon-ok"></i>
          %button(ng-click="clearHub()" class='btn btn-primary btn-bold' data-dismiss='modal' ng-show='modal.saved') Ok <i class="icon-ok"></i>

