.shares.btn-group
  = link_to raw('<i class="icon-twitter"></i>'), 'http://twitter.com/home?status='+blockType+request.url+' /via @spokenvote', class: 'btn', title: 'Share on Twitter', rel: 'tooltip'
  = link_to raw('<i class="icon-facebook"></i>'), 'http://www.facebook.com/sharer.php?u='+request.url, class: 'btn', title: 'Share on Facebook', rel: 'tooltip'
  = link_to raw('<i class="icon-google-plus"></i>'), 'https://plus.google.com/share?url='+request.url, class: 'btn', title: 'Share on Google+', rel: 'tooltip'
