= render partial: 'show', :locals => { :position => @position }
%hr
%hr
%h1 Related Positions
= render partial: 'show', :locals => { :position => @position }
%hr
= render partial: 'show', :locals => { :position => @position }

:javascript
  $(document).ready(function () {
      $('.more').click(function (e) {
        var el = $(this).find('a'),
            url = el.attr('href');

        $.ajax({
          url: url,
          success: function (data) {
            el.closest('.position_container').find('.supporting_arguments .span12').append(data);
            var decodedUrl = decodeURIComponent(url);

            var matches = decodedUrl.match(/(page:)(\d)(.*)/);

            if(matches) {
              page_prefix = matches[1];
              page_number = matches[2];
              the_rest = matches[3];
              newUrl = page_prefix + (parseInt(page_number) + 1) + the_rest
              el.attr('href', window.location + '?context=' + newUrl);
            }
          }
        });

        e.preventDefault();
      });
  });