#deleteProposalModal.modal
  .modal-header
    .pull-right( class='close' ng-click='close()' ) &times;
    %h2 Delete Proposal
    .selectedHub
      .hub
        .pull-right
          %h3 {{ clicked_proposal.hub.group_name }}
          %h5 {{ clicked_proposal.hub.formatted_location }}

  .modal-body
    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' ng-show='alertService.alertDestination=="modal"' )

    .instructions
      .avatar
        %ng-include( src="'/assets/shared/_currentuser_avatar.html'" )
      %h5 Are you sure you want to delete this proposal? Please note that deleting a proposal is permanent and cannot be undone.
      .proposal_statement
        %h4 {{ clicked_proposal.statement }}

  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-click='close()' class='btn btn-bold' ng-hide='modal.saved' ) Cancel
          %button( ng-click='deleteProposal()' class='btn btn-danger btn-bold' ng-hide='modal.saved' ) Delete my proposal
