#editProposalModal.modal
  .modal-header
    .pull-right( class='close' data-dismiss='modal' ) &times;
    %h2 Edit Proposal
    .selectedHub
      .hub
        %h3 {{ proposal.hub.group_name }}
        %h5 {{ proposal.hub.formatted_location }}

    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' )

  .modal-body
    .proposal

    %form( name='editProposalForm' )
      %fieldset
        .control-group
          .controls
            .instructions
              .avatar
                %ng-include(src="'/assets/shared/_currentuser_avatar.html.haml'")
              %h5 You are editing your Proposal   ...
            %textarea( id='proposal_statement' type='input' class='full-width' ng-model='editProposal.proposal.statement' required ng-minLength='15' ng-maxLength='140' placeholder='Please use  15 - 140 characters while editing your proposal.' )
            .length_counter( ng-show=' proposal.statement.length > 15 ' )  {{ 140 - proposal.statement.length }} characters remaining
            %textarea(id='vote_comment' type='text' class='full-width' ng-model='editProposal.proposal.votes_attributes[0].comment' required ng-minLength='7' ng-maxLength='280' placeholder='Please use  7 - 280 characters in this space to explain why others should support your proposal.')
            .length_counter( ng-show=' proposal.comment.length > 7 ' ) {{ 280 - proposal.comment.length }} characters remaining

  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-click="saveEdit()" class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!editProposalForm.$valid' ) Save your  proposal changes
