#improveProposalModal
  .modal-header
    .pull-right( class='close' ng-click='$close()' ) &times;
    %h2 Improve Proposal

    .selectedHub
      %span
        .groupName
          {{ sessionSettings.hub_attributes.group_name }}
        .groupLocation
          {{ sessionSettings.hub_attributes.formatted_location }}

  .modal-body

    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' ng-show='alertService.alertDestination=="modal"' )

    %form( name='improvedProposalForm' )
      .newProposal
        .instructions
          .avatar
            %ng-include(src="'/assets/shared/_currentuser_avatar.html'")
          %h5 {{ currentUser.first_name }} is about to improve upon the proposal below.
          %h5
            .hint-text Hint!  Try to make as few changes to the original proposal as possible while making your improvement.
        .proposal_statement
          %h5 Original Proposal
          %h4 {{ clicked_proposal.statement }}

          %h5 Your Improved Proposal
          .text_input
            %textarea( id='proposal_statement' name='proposal_statement' class='full-width' ng-model='improvedProposal.statement' required ng-minLength='15' ng-maxLength='140'
              placeholder='Write your improved proposal here, making as few changes to the original proposal as possible to effect your change.' )
            .length_counter( ng-show='improvedProposalForm.proposal_statement.$valid' ) {{ 140 - improvedProposal.statement.length }} characters remaining
            .length_counter.error-text( ng-show='improvedProposalForm.proposal_statement.$invalid && !improvedProposalForm.proposal_statement.$error.minlength && !improvedProposalForm.proposal_statement.$error.maxlength' )
              %i( class='glyphicon glyphicon-warning-sign' ) &nbsp Required
            .length_counter.error-text( ng-show="improvedProposalForm.proposal_statement.$error.minlength" ) Too Short
            .length_counter.error-text( ng-show="improvedProposalForm.proposal_statement.$error.maxlength" ) Too Long

            %textarea( id='vote_comment' name='vote_comment' class='full-width' ng-model='improvedProposal.comment' required ng-minLength='7' ng-maxLength='280'
            placeholder='Explain why others should support your improved proposal.' )
            .length_counter( ng-show='improvedProposalForm.vote_comment.$valid' ) {{ 280 - improvedProposal.comment.length }} characters remaining
            .length_counter.error-text( ng-show='improvedProposalForm.vote_comment.$invalid && !improvedProposalForm.vote_comment.$error.minlength && !improvedProposalForm.vote_comment.$error.maxlength' )
              %i( class='glyphicon glyphicon-warning-sign' ) &nbsp Required
            .length_counter.error-text( ng-show='improvedProposalForm.vote_comment.$error.minlength' ) Too Short
            .length_counter.error-text( ng-show="improvedProposalForm.vote_comment.$error.maxlength" ) Too Long

  .modal-footer
    %fieldset
      .form-group
        .controls
          %button( ng-click="saveImprovement()" class='btn btn-primary btn-bold' ng-disabled='!improvedProposalForm.$valid' ) Save Improved proposal
