#improveProposalModal.modal
  .modal-header
    .pull-right( class='close' ng-click='close()' ) &times;
    %h2 Improve Proposal

    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' ng-show='alertService.alertDestination=="modal"' )

  .modal-body
    .proposal_new
      .hub
        %h3 {{ proposal.hub.group_name }}
        %h5 {{ proposal.hub.formatted_location }}
    %form( name='improvedProposalForm' )
      %fieldset
        .control-group
          .controls
            .instructions
              .avatar
                %ng-include(src="'/assets/shared/_currentuser_avatar.html.haml'")
              %h5 Ok, let's improve on this Proposal   ...   Use between 15 and 140 characters to form your improved proposal, while making as few changes to the original proposal as possible.
            %textarea( id='proposal_statement' type='input' class='full-width' ng-model='improvedProposal.statement' required ng-minLength='15' ng-maxLength='140' placeholder='Please use  15 - 140 characters to form your improved proposal, making as few changes to the original proposal as possible to effect your change.' )
            .length_counter( ng-show=' improvedProposal.statement.length > 15 ' )  {{ 140 - improvedProposal.statement.length }} characters remaining
            %textarea(id='vote_comment' type='text' class='full-width' ng-model='improvedProposal.comment' required ng-minLength='7' ng-maxLength='280' placeholder='Please use  7 - 280 characters in this space to explain why others should support your improved proposal.')
            .length_counter( ng-show=' improvedProposal.comment.length > 7 ' ) {{ 280 - improvedProposal.comment.length }} characters remaining

  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-click="saveImprovement()" class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!improvedProposalForm.$valid' ) Save Improved proposal
