#improveProposalModal.modal( ng-controller="NewProposalCtrl" )
  .modal-header
    .pull-right( class='close' data-dismiss='modal' ) &times;
    %h2 New Proposal

    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' )

  .modal-body
    .proposal_new
      .hub
        %h3 {{ proposal.hub.group_name }}
        %h5 {{ proposal.hub.formatted_location }}
    %form( name='improvedProposalForm' )
      %fieldset
        .control-group
          .controls
            %ng-include(src="'/assets/shared/_currentuser_avatar.html.haml'")
            .instructions
              %h5 Ok, let's improve on this Proposal   ...   Use between 15 and 140 characters to form your improved proposal, while making as few changes to the original proposal as possible to make it yours.
            %textarea( id='proposal_statement' type='input' class='full-width' ng-model='improvedProposal.statement' required ng-minLength='15' ng-maxLength='140' placeholder='Please use between 15 and 140 characters to make your primary proposal statement.' )
            %textarea(id='vote_comment' type='text' class='full-width' ng-model='improvedProposal.comment' required ng-minLength='7' ng-maxLength='140' placeholder='Please use between 7 and 140 characters in this space to explain why others should support your proposal.')
  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-click="saveImprovement()" class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!improvedProposalForm.$valid' ) Save your Improved proposal <i class="icon-ok"></i>
