#newProposalModal
  .modal-header
    .pull-right( class='close' ng-click='$close()' ) &times;
    %h2.modal-title Start New Topic

    %ng-include( src="'/assets/shared/_selected_hub.html'" )

  .modal-body
    %ng-include( src="'/assets/shared/_alert_container.html'" )

    %form( name='newProposalForm' ng-submit='votingService.saveNewProposal(modalInstance)' )
      .newProposal
        %ng-include( src="'/assets/shared/_change_hub.html'" )
        %ng-include( src="'/assets/shared/_make_hub.html'" )
        %ng-include( src="'/assets/shared/_proposal_area.html'" )

  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-show='sessionSettings.actions.changeHub == false' ng-click='votingService.saveNewProposal(modalInstance)'
            class='btn btn-primary btn-bold' ng-disabled='!newProposalForm.$valid' ) Save your New proposal
          %button( ng-show='sessionSettings.actions.changeHub == "new"' ng-disabled='!newProposalForm.formatted_location.$valid || !newProposalForm.group_name.$valid'
             ng-click='sessionSettings.actions.changeHub = false' class='btn btn-primary btn-bold' ) Continue
