#newProposalModal.modal
  .modal-header
    .pull-right( class='close' ng-click='close()' ) &times;
    %h2 Start New Topic
    .selectedHub
      %a.hub( ng-click='changeHub(true)' href='#' )
        .pull-right( bs-tooltip='tooltips.newHub' data-placement='left' )
          %h3( collapse='!sessionSettings.hub_attributes.id' )
            %i( class='icon-pencil' )
            %span {{ sessionSettings.hub_attributes.group_name }}
          %h3( collapse='sessionSettings.hub_attributes.id || !sessionSettings.hub_attributes.location_id' )
            %i( class='icon-pencil' )
            %span {{ sessionSettings.actions.searchTerm }}
          %h5( collapse='!sessionSettings.hub_attributes.formatted_location' ) {{ sessionSettings.hub_attributes.formatted_location }}

  .modal-body
    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' ng-show='alertService.alertDestination=="modal"' )

    %form( name='newProposalForm' ng-submit='saveNewProposal()' )
      .newProposal
        .changehub( collapse='!sessionSettings.actions.changeHub' )
          .instructions
            .avatar
              %ng-include( src="'/assets/shared/_currentuser_avatar.html'" )
            %h5 This step is where you set the group for your proposal. Start by searching below to see if it exists. If it doesn't exist yet, create it.

          .selecthub( ng-controller='DashboardCtrl' )
            %hidden_field_tag(id='newProposalHub' ui-select2='hubFilterSelect2' ng-model='sessionSettings.actions.newProposalHub')

          .makeHub( ui-if='sessionSettings.actions.changeHub == "new"' )
            %h5
              .hint-text Hint!  Double-check to make sure your hub does not already exist by trying alternate spellings above.
            %h3 or create your new group below ...
            %input( name="group_name" id='group_name' type='text' class='input-xlarge'
              placeholder='Enter your new group name' ng-model='sessionSettings.actions.searchTerm' ng-minlength='5' required)
            %span( ng-hide='newProposalForm.group_name.$valid' ) 5 character minimum

            %input( name="formatted_location" id='hub_formatted_location' type='text' class='input-xlarge'
              placeholder="Enter the Group's Location" ng-model='sessionSettings.hub_attributes.formatted_location' sv-google-place required )
            %span.error-text( ng-hide='newProposalForm.formatted_location.$valid' )
              %i( class='icon-warning-sign' ) &nbsp Choose a valid location.
            %span( ng-show='newProposalForm.formatted_location.$valid && newProposalForm.group_name.$valid' )
              %a.link( ng-click='sessionSettings.actions.changeHub = false' href='#' ) Group Location Valid

        .proposal-area( ng-hide='sessionSettings.actions.changeHub' )
          .instructions
            .avatar
              %ng-include( src="'/assets/shared/_currentuser_avatar.html'" )
            %h5 Create your main proposal statement, then add a supporting argument to explain why others should support your proposal.

          .control-group
            .controls
              %textarea( id='proposal_statement' name='proposal_statement' class='full-width' ng-model='newProposal.statement' required ng-minLength='15' ng-maxLength='140'
                placeholder='Write your main proposal statement here.' )
              .length_counter( ng-show='newProposalForm.proposal_statement.$valid' ) {{ 140 - newProposal.statement.length }} characters remaining
              .length_counter.error-text( ng-show='newProposalForm.proposal_statement.$invalid && !newProposalForm.proposal_statement.$error.minlength && !newProposalForm.proposal_statement.$error.maxlength' )
                %i( class='icon-warning-sign' ) &nbsp Required
              .length_counter.error-text( ng-show="newProposalForm.proposal_statement.$error.minlength" ) Too Short
              .length_counter.error-text( ng-show="newProposalForm.proposal_statement.$error.maxlength" ) Too Long

          .control-group
            .controls
              %textarea( id='vote_comment' name='vote_comment' class='full-width' ng-model='newProposal.comment' required ng-minLength='7' ng-maxLength='280'
              placeholder='Explain why others should support your proposal here.' )
              .length_counter( ng-show='newProposalForm.vote_comment.$valid' ) {{ 280 - newProposal.comment.length }} characters remaining
              .length_counter.error-text( ng-show='newProposalForm.vote_comment.$invalid && !newProposalForm.vote_comment.$error.minlength && !newProposalForm.vote_comment.$error.maxlength' )
                %i( class='icon-warning-sign' ) &nbsp Required
              .length_counter.error-text( ng-show="newProposalForm.vote_comment.$error.minlength" ) Too Short
              .length_counter.error-text( ng-show="newProposalForm.vote_comment.$error.maxlength" ) Too Long

  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-show='sessionSettings.actions.changeHub == false' ng-click='saveNewProposal()' class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!newProposalForm.$valid' ) Save your New proposal
          %button( ng-show='sessionSettings.actions.changeHub == "new"' ng-disabled='!newProposalForm.formatted_location.$valid || !newProposalForm.group_name.$valid' ng-click='sessionSettings.actions.changeHub = false' class='btn btn-primary btn-bold' ng-hide='modal.saved' ) Continue
