#newProposalModal.modal( ng-controller="NewProposalCtrl" )
  .modal-header
    .pull-right( class='close' data-dismiss='modal' ) &times;
    %h2 New Proposal

    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' )

  .modal-body
    .proposal_new
      .changehub( ng-controller='DashboardCtrl' ng-show='sessionSettings.changeHub' )
        %hidden_field_tag( id='hub_filter' ui-select2='hubFilterSelect2' ng-model='newProposalHub' )
      %a.hub( ng-click=' sessionSettings.changeHub = !sessionSettings.changeHub ' href='#' )
        %h3 {{ sessionSettings.selectedGroupName }}
        %h5 {{ sessionSettings.selectedGroupLocation }}
    %form( name='newProposalForm' )
      %fieldset
        .control-group
          .controls
            .instructions
              .avatar
                %ng-include( src="'/assets/shared/_currentuser_avatar.html.haml'" )
              %h5 Ok, let's create a new Proposal   ...   Start by creating your main proposal statement, and then add a supporting argument to explain why others should support your proposal.
            %textarea( id='proposal_statement' type='input' class='full-width' ng-model='newProposal.statement' required ng-minLength='15' ng-maxLength='140' placeholder='Please use  15 - 140 characters to form your main proposal statement.' )
            .length_counter( ng-show=' newProposal.statement.length > 15 ' )  {{ 140 - newProposal.statement.length }} characters remaining
            %textarea(id='vote_comment' type='text' class='full-width' ng-model='newProposal.comment' required ng-minLength='7' ng-maxLength='280' placeholder='Use 7 - 280 characters in this space to explain why others should support your proposal.')
            .length_counter( ng-show=' newProposal.comment.length > 7 ' ) {{ 280 - newProposal.comment.length }} characters remaining

  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-click="saveNewProposal()" class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!newProposalForm.$valid' ) Save your Improved proposal <i class="icon-ok"></i>
