.proposal_container( ui-if='proposal.has_support' )

  .main-proposal
    %div(id='big-percent') {{ proposal.votes_percentage }}

  .proposal_statement
    %h3
      %a( ng-href='#' ng-click='showProposal(proposal)' )  {{ proposal.statement }}
    .improve_support_buttons
      %ng-include( src="'/assets/shared/_social_buttons.html.haml'" )

      .edit.btn-group( ng-show='currentUser && proposal.is_editable && proposal.user_id == currentUser.id' )
        %button( ng-click='edit(proposal)' class='btn btn-primary edit' bs-tooltip='tooltips.edit' data-placement='right' ) <i class="icon-pencil"></i>
        %button( ng-click='delete(proposal)' class='btn btn-danger delete' bs-tooltip='tooltips.delete' data-placement='right' )  <i class="icon-trash"></i>

      .vote_buttons_container( ng-hide='currentUser && proposal.is_editable && proposal.user_id == currentUser.id' )
        %button( ng-click='support(proposal)' class='btn btn-support btn-bold main' bs-tooltip='tooltips.support' data-placement='right' ) Support
        %button( ng-click='improve(proposal)' class='btn btn-improve btn-bold main' bs-tooltip='tooltips.improve' data-placement='right' ) Improve

  .supporting_arguments
    %h3( ng-show='proposal.has_support' )
      Supporters
      %span ({{proposal.votes_count}} votes)
    .row
      .supporting_arguments_list.span11( ng-repeat="(key, vote) in proposal.votes" )
        .row.support_row{class: 'first'}
          .proposal-person.span3
            .user-avatar
              %img( ui-if='vote.facebook_auth' ng-src="http://graph.facebook.com/{{ vote.facebook_auth }}/picture?width=30&height=30" )
              %img( ui-if='!vote.facebook_auth' ng-src="http://gravatar.com/avatar/{{ vote.gravatar_hash }}.png?s=30&d={{ sessionSettings.spokenvote_attributes.defaultGravatar }}" )
            .supported_date
              %a( ng-href='#' ng-click='setVoter(vote)' )  {{ vote.username }}
              %br
              {{ vote.created_at | date:'mediumDate' }}
          .support_comment.span8
            {{ vote.comment }}
