#voteModal.modal( data-width='400px' ng-controller="VoteNewCtrl" )
  .modal-header
    .pull-right(class='close' data-dismiss='modal' aria-hidden='true') &times;
    %h2 Support Proposal

    .content( alert-bar alertmessageclear='alertService.alertClass' )

  .modal-body
    %form( name='newVoteForm' )
      %ng-include(src="'/assets/shared/_currentuser_avatar.html.haml'")
      %h3 Ok, let's add Support!
      %fieldset
        .control-group
          .controls
            %textarea(id='vote_comment' type='text' class='full-width' ng-model='newVote.comment' required ng-minLength='7' ng-maxLength='140' placeholder='Please use between 7 and 140 characters in this space to explain why you would like to support {{ proposal.statement }}.')
  .modal-footer
    %fieldset
      .control-group
        .controls
          %button( ng-click="addVote()" class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!newVoteForm.$valid' ) Vote for this proposal <i class="icon-ok"></i>

