%section#homepage.span11{ class: @searched != '' || @sortTitle != '' ? 'searched' : 'clear' }
  - if @sortTitle != '' or @searched != '' or user_signed_in?
    #searchResults
      %table.listing.listing-proposals
        %thead
          %tr
            %th.table-title{ colspan: '5' }= @sortTitle
          %tr
            %th{ width: '42%' }
              %span#hubSorter.btn-group
                %a(href='/proposals?filter=active' class='btn' ng-class="{{$routeParams.filter}}") Active
                %a(href='/proposals?filter=new' class='btn') New
                -#- if user_signed_in?
                %a(href='/proposals?filter=my_votes' class='btn') My Votes
                -#  = link_to 'My Votes', proposals_path(filter: 'my_votes'), class: "btn #{@filter == 'my_votes' ? 'active': ''}"
            %th{ width: '30%' } Group
            %th.count-column{ width: '10%'} Updated
            %th.count-column{ width: '10%'} Proposals
            %th.count-column{ width: '8%'} Votes

        %tbody
          %tr(ng-repeat="proposal in proposals")
            %td
              %a(href="/proposals/{{proposal.id}}") {{ proposal.statement }}
            %td
              %a(href="#") {{ proposal.hub.short_hub }}
            %td.count-column {{ proposal.updated_at }}
            %td.count-column {{ proposal.related_proposals_count }}
            %td.count-column {{ proposal.votes_in_tree }}

      #proposalNotFound
        .span7 &nbsp;
        .span4
          Don't see the topic you're looking for?
          %a(id='makeProposalLink' href='/proposals/new') Make it
-#
-#/ #hpContent
-#/   = render partial: 'shared/hubs_table'
-#
