%section#homepage
  .panel.panel-default.hidden-xs.hidden-sm
    .panel-title
      .title.pull-left
        %h3
          %span {{ sessionSettings.routeParams.filter | inflector:humanize }} Topics for {{ sessionSettings.actions.hubFilter }}
          %span( ui-if='sessionSettings.actions.userFilter || sessionSettings.routeParams.user' ng-click="clearFilter('user')" )
            %span() for
            %span( class='tag_item' )
              %span {{ sessionSettings.actions.userFilter || sessionSettings.routeParams.user }}
              .fa.fa-times
              -#%span( class='close_x' ) &times;
            %span &nbsp


      %h3.btn-group.pull-right
        %button( type='button' ng-click="setFilter('my')" class='btn btn-default' ng-model='sessionSettings.routeParams.filter' btn-radio="'my'" ui-if='currentUser.id' )
          .fa.sub.fa-check-square-o
          %span My Votes
        %button( type='button' ng-click="setFilter('active')" class='btn btn-default' ng-model='sessionSettings.routeParams.filter' btn-radio="'active'" )
          .fa.sub.fa-tachometer
          %span &nbsp Active
        %button( type='button' ng-click="setFilter('new')" class='btn btn-default' ng-model='sessionSettings.routeParams.filter' btn-radio="'new'" )
          .fa.sub.fa-clock-o
          %span &nbsp Recent
    .clearfix

  .listing-proposals
    %ul( ng-repeat='proposal in proposals' )
      %li.tree_container( ng-click='showProposal(proposal)' )
        .topic.row
          .list-avatar.col-xs-1
            .avatar-sprite( ng-repeat="(key, vote) in proposal.votes | slice:0:4" )
              %img( ui-if='vote.vote.facebook_auth' ng-src="http://graph.facebook.com/{{ vote.vote.facebook_auth }}/picture?width=20&height=20" )
              %img( ui-if='!vote.vote.facebook_auth' ng-src="http://gravatar.com/avatar/{{ vote.vote.gravatar_hash }}.png?s=30&d={{ sessionSettings.spokenvote_attributes.defaultGravatar }}" )
          .topic-and-hub.col-xs-9.col-md-10
            .proposal( id='Proposal:{{ proposal.id }}' )
              %a( id='showProposalLink' ng-click='showProposal(proposal)' ) {{ proposal.statement }}
            .hub
              %a( ng-click='setHub(proposal.hub)' ) {{ proposal.hub.short_hub }}

          .stats.col-xs-2.col-md-1
            .counts.row
              .vote_count.col-xs-6
                .svlabel( tooltip='{{proposal.votes_in_tree}} votes on {{proposal.related_proposals_count}} proposals' tooltip-placement='left' )
                  .votes {{ proposal.votes_in_tree }}
                  Votes
              .prop_count.col-xs-6
                .svlabel( tooltip='{{proposal.votes_in_tree}} votes on {{proposal.related_proposals_count}} proposals' tooltip-placement='left' )
                  .props {{ proposal.related_proposals_count  }}
                  Props
            .last_date.row
              .date-stamp.col-xs-12 {{ proposal.updated_at }}

  #proposalNotFound
    .col-xs-7 &nbsp;
    .col-xs-5
      Don't see the topic you're looking for?
      %a( id='makeProposalLink' href='#' ng-click='newTopic()' ) Start a New Topic
    .col-xs-12.col-xs-offset-1( ng-show='!proposals[0]' )
      %h3
        %span No {{ filterSelection | inflector:humanize }} topics
        %span( ui-if='sessionSettings.actions.hubFilter' ) for {{ sessionSettings.actions.hubFilter }}
        %span( ui-if='sessionSettings.actions.userFilter' ) for {{ sessionSettings.actions.userFilter }}
        %span found.
