.content_page
  %ng-include(src="'/assets/proposals/_show.html.haml'")

  .hr

  #relatedProposals(  ng-controller='RelatedProposalShowCtrl' )
    #relatedSorter
      .btn-group(ng-show="proposal.related_proposals_count > 1")
        %button( type='button' class='btn' )  {{ selectedSort || "Sort Related Proposals" }}
        %button( type='button' class='btn' bs-dropdown='related_sorter_dropdown' )
          %span( class='caret' )

    #relatedProposalsTitle Related Proposals

    %ng-include( src="'/assets/proposals/_show_related.html.haml'" )

  %h3(ng-show="proposal.related_proposals_count < 1") There are no related proposals yet.



