.content_page
  %ng-include(src="'/assets/proposals/_show.html.haml'")

  .hr

  #relatedSorter(ng-show="proposal.related_proposals_count > 1")
    .btn-group
      %button( type='button' class='btn' ) Sort Related Proposals
      %button( type='button' class='btn' bs-dropdown='related_sorter_dropdown' )
        %span( class='caret' )

  #relatedProposalsTitle Related Proposals

  %ng-include(src="'/assets/proposals/_show_related.html.haml'")

  %h3(ng-show="proposal.related_proposals_count < 1") There are no related proposals yet.
