.content_page
  %ng-include(src="'/assets/proposals/_show.html.haml'")

  .hr

  -##relatedSorter(ng-showaaa="proposal.related_proposals_count")
  -#  .btn-group
  -#    %a(href="proposal_path(@proposal.id)" class='btn') Highest Ranked
  -#    %a(href="proposal_path(@proposal.id)" class='btn dropdown-toggle' data-toggle='dropdown')
  -#      %span(class='caret')
  -#    %ul.dropdown-menu
  -#      %li
  -#        %a(href="proposal_path(@proposal.id, sortBy: 'created_at DESC')") Newest
  -#      %li
  -#        %a(href="proposal_path(@proposal.id, sortBy: 'created_at ASC')") Oldest

  #relatedProposalsTitle Related Proposals

  %ng-include(src="'/assets/proposals/_show_related.html.haml'")


  %h3(ng-show="proposal.related_proposals_count < 1") There are no related proposals yet.
