%br
%ul.flat_list
  %li(style='margin-left:50px')
    = link_to image_tag('icons/providers/images/facebook_128.png'), user_omniauth_authorize_path(:facebook)
    Facebook
  -#%li
  -#  = link_to image_tag('icons/providers/google.png'), user_omniauth_authorize_path(:google_oauth2)
  -#  Google
.clearfix
%br
%hr.style-seven