.changehub( ng-hide='!sessionSettings.actions.changeHub' )

  .instructions
    .avatar
      %ng-include( src="'shared/_currentuser_avatar.html'" )
    %h5 Enter the group you would like to influence.

  .selecthub( ng-controller='DashboardCtrl' role='search' )
    %hidden_field_tag(id='newProposalHub' ui-select2='hubFilterSelect2' ng-model='sessionSettings.actions.newProposalHub')