.user-avatar
  %img(ng-show='currentUser.facebook_auth' ng-src="http://graph.facebook.com/{{ currentUser.facebook_auth }}/picture?width=30&height=30")
  %img(ng-hide='currentUser.facebook_auth' ng-src="http://gravatar.com/avatar/{{ currentUser.gravatar_hash }}.png?s=30&d={{ defaultGravatar }}")
