%header.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner( ng-controller='DashboardCtrl' )
    .container
      %a.brand( href='/landing' )
        -#%img( alt='Bluefull' size='18x24' src='/assets/bluefull.png' )
        .spoken
          Spoken
          %span
            Vote

      %ul#main-nav.nav
        %li
          %hidden_field_tag( id='hub_filter' ui-select2='hubFilterSelect2' ng-model='hubFilter.full_hub' )

      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle(data-toggle='dropdown')
            %b.white Help
            %b.caret

          %ul.dropdown-menu
            %li
              %a(href='/about') About this site
            %li
              %a(href='http://railsforcharity.github.io/spokenvote/') Developers

        %li.dropdown(ng-show='currentUser.username')
          %a.dropdown-toggle(data-toggle='dropdown')
            %b.white {{ currentUser.username }}
            %b.caret

          %ul.dropdown-menu
            %li
              %a(href='/proposals?filter=my_votes') My Proposals
            %li
              %a(href='/users/{{ currentUser.id }}/edit') Settings
            %li
              / Angular should ignore this route and not try to handle it since it has target='_self'
              %a(href='/admin' ng-show='currentUser["is_admin?"]' target='_blank') Admin
            %li
              %a(href='#' ng-click='signOut()') Sign Out

        %li.avatar( ng-show='currentUser.facebook_auth || currentUser.gravatar_hash' ng-href='/proposals?filter=my_votes')
          %a(href='/proposals?filter=my_votes')
            %ng-include( src="'/assets/shared/_currentuser_avatar.html.haml'" )

        %li.buttons( ng-show='!currentUser.username')
          %button( ng-click="signInModal()" class='btn btn-info btn-bold' ) Sign In
          %button( ng-click="registerModal()" class='btn btn-primary btn-bold' ) Join Us!