#topBar( ng-controller='DashboardCtrl' )
  %header.navbar.navbar-default.visible-xs
    .navbar-header
      -#%button.navbar-toggle.pull-left( ng-click='changeCanvas()' type='button' )
      %button.navbar-toggle.pull-left( ng-click='sessionSettings.actions.offcanvas=!sessionSettings.actions.offcanvas' type='button' )
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.sv-logo( href='/landing' ng-click="clearHubFilter()" )
        %span.spoken
          Spoken
        %span.vote
          Vote

      .search-glass.pull-right
        %button.navbar-toggle
          %span.glyphicon.glyphicon-search

      .hub_search-xs( role='search' )
        %hidden_field_tag( id='hub_filter' ui-select2='hubFilterSelect2' ng-model='hubFilter.hubFilter' )

  -#%header.hidden-xs.navbar.navbar-inverse.nav.navbar-fixed-top
  %header.hidden-xs.navbar.navbar-inverse.navbar-fixed-top
    .container
      .row
        .navbar-header.col-xs-2
          .navbar-brand
            %a.sv-logo( href='/landing' ng-click="clearHubFilter()" )
              %span.spoken
                Spoken
              %span.vote
                Vote

        .hub_search.navbar-form.col-xs-5( role='search' )
          %hidden_field_tag( id='hub_filter' ui-select2='hubFilterSelect2' ng-model='hubFilter.hubFilter' )

        .new_topic.navbar-btn.col-xs-2
          %button( ng-click='newTopic()' class='btn btn-newTopic btn-bold main'  tooltip='{{tooltips.newTopic}}' tooltip-placement='bottom' ) Start New Topic

        .navbar-nav.col-xs-2
          %ul#user_profile.nav.navbar-nav.pull-right
            %li.dropdown( data-placement='bottom' )
              %a.dropdown-toggle( data-toggle='dropdown' )
                %b.white {{ currentUser.first_name || 'Learn' }}
                %b.caret

              %ul.dropdown-menu( role="menu" aria-labelledby="dropdownMenu" )
                %li
                  %a( ng-href='/proposals?filter=my' ng-show='currentUser.username' ) My Proposals
                %li
                  %a( href='#' ng-click='userSettings()'  ng-show='currentUser.username' ) Settings
                %li
                  / Angular should ignore this route and not try to handle it since it has target='_self'
                  %a( href='/admin' ng-show='currentUser["is_admin?"]' target='_blank' ) Admin
                %li
                  %a( class="divider" ng-show='currentUser.username' )
                %li
                  %a( href='#' ng-click='signOut()' ng-show='currentUser.username' ) Sign Out
                %li
                  %a( class="divider" ng-show='currentUser.username' )
                %li
                  %a( href='/about' ) About this site
                %li
                  %a( href='/terms-of-use' ) Terms of Use
                %li
                  %a( href='http://railsforcharity.github.io/spokenvote/' ) Developers

        .col-xs-1.navbar-btn.pull-right
          .avatar.navbar-btn.pull-right( ng-show='currentUser.facebook_auth || currentUser.gravatar_hash' ng-href='/proposals?filter=my'  tooltip='{{currentUser.username}}' tooltip-placement='bottom' )
            %a(href='/proposals?filter=my')
              %ng-include( src="'/assets/shared/_currentuser_avatar.html'" )

          .buttons.navbar-btn.pull-right( ng-show='!currentUser.username' )
            %button( ng-click="signinAuth()" class='btn btn-info btn-bold' ) Sign In
            -#%button( ng-click="facebookAuth2()" class='btn btn-info btn-bold' ) My Spokenvote
            -#%button( ng-click="signInModal()" class='btn btn-info btn-bold' ) Sign In
            -#%button( ng-click="registerModal()" class='btn btn-primary btn-bold' ) Join Us!