%header.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner( ng-controller='DashboardCtrl' )
    .container
      %a.brand( href='/' )
        %img( alt='Bluefull' size='18x24' src='/assets/bluefull.png' )
        SpokenVote

      %ul#main-nav.nav
        %li
          %hidden_field_tag( id='hub_filter' ui-select2='hubFilterSelect2' ng-model='hubFilter' )

      %ul.nav.pull-right
        %li.dropdown
          %ul( type='button' class='dropdown-toggle' bs-dropdown='help_dropdown' ) <b> Help </b> <b class="caret"></b>
        %li.dropdown( ng-show='currentUser.username')
          %ul( type='button' class='dropdown-toggle' bs-dropdown='user_dropdown' ) <b class="white"> {{ currentUser.username }} </b> <b class="caret"></b>
        %li.avatar( ng-show='currentUser.facebook_auth || currentUser.gravatar_hash' )
          %ng-include( src="'/assets/shared/_currentuser_avatar.html.haml'" )
        %li.buttons( ng-show='!currentUser.username')
          %button( ng-click="signInModal()" class='btn btn-info btn-bold' ) Sign In
          %button( ng-click="registerModal()" class='btn btn-primary btn-bold' ) Join Us!

