.proposal-area( ng-hide='sessionSettings.actions.changeHub' )
  .instructions
    .avatar
      %ng-include( src="'shared/_currentuser_avatar.html'" )
    %h5 Enter your proposal and explain why others should support it!

  .form-group
    %textarea( id='proposal_statement' name='statement' class='full-width' ng-model='sessionSettings.newProposal.statement' required ng-minLength='15' ng-maxLength='140'
      placeholder='Write your main proposal statement here.' )
    .length_counter.happy-text( ng-show='newProposalForm.statement.$valid' ) {{ 140 - sessionSettings.newProposal.statement.length }} characters remaining
    .length_counter.error-text( ng-show='newProposalForm.statement.$invalid && !newProposalForm.statement.$error.minlength && !newProposalForm.statement.$error.maxlength' )
      .fa.fa-warning
      %span Required
    .length_counter.error-text( ng-show="newProposalForm.statement.$error.minlength" )
      .fa.fa-warning
      %span Too Short
    .length_counter.error-text( ng-show="newProposalForm.statement.$error.maxlength" )
      .fa.fa-warning
      %span Too Long

  .form-group
    %textarea( id='vote_comment' name='comment' class='full-width' ng-model='sessionSettings.newProposal.comment' required ng-minLength='7' ng-maxLength='280'
    placeholder='Explain why others should support your proposal here.' )
    .length_counter.happy-text( ng-show='newProposalForm.comment.$valid' ) {{ 280 - sessionSettings.newProposal.comment.length }} characters remaining
    .length_counter.error-text( ng-show='newProposalForm.comment.$invalid && !newProposalForm.comment.$error.minlength && !newProposalForm.comment.$error.maxlength' )
      .fa.fa-warning
      %span  Required
    .length_counter.error-text( ng-show="newProposalForm.comment.$error.minlength" )
      .fa.fa-warning
      %span Too Short
    .length_counter.error-text( ng-show="newProposalForm.comment.$error.maxlength" )
      .fa.fa-warning
      %span Too Long