#registrationModal.modal( data-width='400px' ng-controller='RegistrationCtrl' )
  .modal-header
    .pull-right(class='close' data-dismiss='modal') &times;
    %h3 Join SpokenVote

    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' )

  .modal-body
    .login_providers
      .content_div
        .fb-button-container-centered
          .fb-button( ng-click="userOmniauth('facebook')" )
            %span.fb-button-left
            %span.fb-button-center
              %strong Sign in
              with
              %strong Facebook
            %span.fb-button-right

    %h3.or-separator or

    .login_form
      %form( name='registrationForm' novalidate )
        .control-group
          .controls
            %input( id='name' name='name' type='text' class='full-width' ng-model='registration.name' required ng-minLength='4' placeholder='Name' )
              .input-below-text( ng-show='registrationForm.name.$invalid && registrationForm.name.$dirty' ) Minimum length of 4
        .control-group
          .controls
            %input(id='email_field' name='email' type='email' class='full-width' ng-model='registration.email' required ng-minLength='3' placeholder='Email address' )
        .control-group
          .controls
            %input(id='password_field' name='password' type='password' class='full-width' ng-model='registration.password' required ng-minLength='5' placeholder='Password' )
            .input-below-text( ng-show='registrationForm.password.$invalid && registrationForm.password.$dirty' ) Minimum length of 5
        .control-group
          .controls
            %input(id='password_confirmation_field' name='password_confirmation' type='password' class='full-width' ng-model='registration.password_confirmation' required ng-minLength='5' placeholder='Confirm password' )
            .input-below-text( ng-show='registration.password != registration.password_confirmation && registrationForm.password_confirmation.$dirty || registrationForm.$invalid && registrationForm.password_confirmation.$dirty ' ) Almost ...
            .input-below-text( ng-show='registrationForm.$valid && registration.password == registration.password_confirmation && registrationForm.password_confirmation.$dirty' ) Yes!


  .modal-footer
    .control-group
      .controls
        %button( ng-click='register()' class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!registrationForm.$valid || registration.password != registration.password_confirmation') Join SpokenVote <i class="icon-ok"></i>
