.selectedHub
  %span( ng-click='changeHub(true)' href='#' )

    .groupName( collapse='!sessionSettings.hub_attributes.id' )
      %i( class='glyphicon glyphicon-pencil' )
      %span( tooltip-html-unsafe='{{rootTips.newHub}}' tooltip-placement='left' ) {{ sessionSettings.hub_attributes.group_name }}

    .groupName( ng-hide='sessionSettings.hub_attributes.id || !sessionSettings.hub_attributes.location_id' )
      %i( class='glyphicon glyphicon-pencil' )
      %span( tooltip-html-unsafe='{{rootTips.newHub}}' tooltip-placement='left' ) {{ sessionSettings.actions.searchTerm }}

    .groupLocation( collapse='!sessionSettings.hub_attributes.formatted_location' ) {{ sessionSettings.hub_attributes.formatted_location }}