%ul( ng-controller='SidebarCtrl' role='menu' )
  %li( ng-href='/proposals?filter=my' ng-show='currentUser.username' )
    %a.action-links
      .fa.fa-check-square-o
      %span My proposals

  %li
    %accordion( close-others='oneAtATime' )
      %accordion-group( is-open='isopen' )
        %accordion-heading
          %a.action-links
            .fa.fa-filter
            %span Filter


        %ul.action-links
          %li( type='button' ng-click="setFilter('active')" ng-class="{'active': sessionSettings.routeParams.filter == 'active'}" )
            .fa.fa-filter
            %span Active
            .fa.pull-right( ng-class="{'fa-check': sessionSettings.routeParams.filter == 'active'}" )
          %li( type='button' ng-click="setFilter('new')" value='new' )
            .fa.fa-filter
            %span Recent
          %li( type='button' ng-click="setFilter('my')" value='my' ui-if='currentUser.id' )
            .fa.fa-filter
            %span My Votes

  %li( href='#' ng-click='userSettings()'  ng-show='currentUser.username' )
    %a.action-links
      .fa.fa-wrench
      -#.glyphicon.glyphicon-cog
      %span Settings
  %li( href='#' ng-click='signinAuth()' ng-show='!currentUser.username' )
    %a.action-links
      .fa.fa-sign-in
      %span Sign in
  %li( href='#' ng-click='signOut()' ng-show='currentUser.username' )
    %a.action-links
      .fa.fa-sign-out
      %span Sign out
  %li( ng-show='currentUser["is_admin?"]' )
    %a.action-links( href='/admin' target='_blank' )

      %span Admin
  %li
    .hr
  %li
    %a.category-links( href='/about' )
      .fa.fa-pagelines
      %span About Spokenvote
  %li
    .hr
  %li
    %a.category-links( href='http://railsforcharity.github.io/spokenvote/' )
      .fa.fa-github
      %span Developers
  %li.category-links
    .hr
  %li
    %a.category-links( href='/terms-of-use' )
      .fa.fa-bell-o
      %span Terms of use

