#loginModal.modal(data-width='300px' ng-controller='SessionCtrl' data-backdrop="false")
  .modal-header
    .pull-right(class='close' data-dismiss='modal') &times;
    %h3 Please Sign In

    #alertContainer
      .modalAlert( alert-bar alertmessageclear='alertService.alertClass' )

  .modal-body
    .login_providers
      .content_div
        .fb-button-container-centered
          .fb-button( ng-click="userOmniauth('facebook')" )
            %span.fb-button-left
            %span.fb-button-center
              %strong Sign in
              with
              %strong Facebook
            %span.fb-button-right

    %h3.or-separator or

    .login_form
      -#%ng-include(src="'/assets/shared/_currentuser_avatar.html.haml'")
      %form( name='signInForm' )
        .control-group
          .controls
            %input(id='email_field' type='text' class='full-width' ng-model='session.email' required ng-minLength='3' placeholder='Email address' )

        .control-group
          .controls
            %input(id='password_field' type='password' class='full-width' ng-model='session.password' required ng-minLength='3' placeholder='Password' )
            %span
          .control-group
            .controls
              %label.checkbox
                %input( id='remember_me' type='checkbox' ng-model='session.remember_me' ) Remember me next time
                -#- if devise_mapping.recoverable?
                    #forgotLink= link_to "Forgot password?", new_password_path(resource_name)

  .modal-footer
    .control-group
      .controls
        %button( ng-click='create()' class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!signInForm.$valid' ) Sign In <i class="icon-ok"></i>
        %button( ng-click='register()' class='btn btn-primary btn-bold' ng-hide='modal.saved' ng-disabled='!signInForm.$valid' ) Join Us <i class="icon-ok"></i>
