.shares.btn-group
  %a( class='btn btn-xs' ng-href='{{ socialSharing.twitterUrl }}' tooltip-html-unsafe='{{tooltips.twitter}}' ) <i class='fa fa-twitter'></i>
  %a( class='btn btn-xs' ng-href='{{ socialSharing.facebookUrl }}' tooltip-html-unsafe='{{tooltips.facebook}}' ) <i class='fa fa-facebook'></i>
  %a( class='btn btn-xs' ng-href='{{ socialSharing.googleUrl }}' tooltip-html-unsafe='{{tooltips.google}}' ) <i class='fa fa-google-plus'></i>
