.shares.btn-group
  %a( class='btn' ng-href='{{ socialSharing.twitterUrl }}' bs-tooltip='tooltips.twitter' ) <i class='icon-twitter'></i>
  %a( class='btn' ng-href='{{ socialSharing.facebookUrl }}' bs-tooltip='tooltips.facebook' ) <i class='icon-facebook'></i>
  %a( class='btn' ng-href='{{ socialSharing.googleUrl }}' bs-tooltip='tooltips.google' ) <i class='icon-google-plus'></i>
