<div id='getStartedModal'>
  <div class='modal-header'>
    <div class='close pull-right' ng-click='$close()'>&times;</div>
    <h2 ng-show='sessionSettings.actions.changeHub == true'>Step 1 - Find Group</h2>
    <h2 ng-show='!sessionSettings.actions.changeHub &amp;&amp; sessionSettings.hub_attributes.id'>Step 2 - Find Topic</h2>
    <h2 ng-show='sessionSettings.actions.changeHub == "new"'>Step 2 - New Group</h2>
    <h2 ng-show='!sessionSettings.actions.changeHub &amp;&amp; !sessionSettings.hub_attributes.id'>Step 3 - New Topic</h2>
    <ng-include src="'/assets/shared/_selected_hub.html'"></ng-include>
  </div>
  <div class='modal-body'>
    <ng-include src="'/assets/shared/_alert_container.html'"></ng-include>
    <div class='instructions' ng-show='!sessionSettings.actions.changeHub &amp;&amp; sessionSettings.hub_attributes.id &amp;&amp; !sessionSettings.actions.wizardToGroup'>
      <h3>
        <span>We found</span>
        <span ng-click='changeHub(true)'>your group!</span>
      </h3>
      <h5 class='hint-text'>
        <div class='fa fa-lightbulb-o'></div>
        <span-red>Hint!</span-red>
        <span>If the group shown above is not the group you wanted, just click the name to search again.</span>
      </h5>
    </div>
    <div class='instructions' ng-show='!sessionSettings.actions.changeHub &amp;&amp; sessionSettings.hub_attributes.id &amp;&amp; sessionSettings.actions.wizardToGroup'>
      <h3>
        <span>Going to</span>
        <span ng-click='changeHub(true)'>{{ sessionSettings.hub_attributes.group_name }} ...</span>
      </h3>
      <h5 class='hint-text'>
        <div class='fa fa-lightbulb-o'></div>
        <span-red>Hint!</span-red>
        <span>If you don't see the Topic you want on the next screen, just select Start New Topic.</span>
      </h5>
    </div>
    <form name='newProposalForm' ng-submit='saveNewProposal()'>
      <div class='newProposal'>
        <ng-include src="'/assets/shared/_change_hub.html'"></ng-include>
        <ng-include src="'/assets/shared/_make_hub.html'"></ng-include>
        <ng-include ng-hide='sessionSettings.hub_attributes.id' src="'/assets/shared/_proposal_area.html'"></ng-include>
      </div>
    </form>
  </div>
  <div class='modal-footer'>
    <fieldset>
      <div class='form-group'>
        <div class='controls'>
          <button class='btn btn-primary btn-bold' ng-click='votingService.saveNewProposal(modalInstance)' ng-disabled='!newProposalForm.$valid' ng-show='sessionSettings.actions.changeHub == false &amp;&amp; !sessionSettings.hub_attributes.id'>Save your New proposal</button>
          <button class='btn btn-primary btn-bold' ng-click='sessionSettings.actions.changeHub = false' ng-disabled='!newProposalForm.formatted_location.$valid || !newProposalForm.group_name.$valid' ng-show='sessionSettings.actions.changeHub == "new"'>Continue</button>
          <button class='btn btn-primary btn-bold' ng-click='goToGroup("hint")' ng-show='sessionSettings.hub_attributes.id &amp;&amp; !sessionSettings.actions.wizardToGroup'>Go to {{ sessionSettings.hub_attributes.group_name }}</button>
          <button class='btn btn-primary btn-bold' ng-click='$close()' ng-show='sessionSettings.hub_attributes.id &amp;&amp; sessionSettings.actions.wizardToGroup == "hint"'>Ok, got it. Go to {{ sessionSettings.hub_attributes.group_name }}.</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
