<div class='proposal-area' ng-hide='sessionSettings.actions.changeHub'>
  <div class='instructions'>
    <div class='avatar'>
      <ng-include src="'/assets/shared/_currentuser_avatar.html'"></ng-include>
    </div>
    <h5>Enter your proposal and explain why others should support it!</h5>
  </div>
  <div class='form-group'>
    <textarea class='full-width' id='proposal_statement' name='statement' ng-maxLength='140' ng-minLength='15' ng-model='sessionSettings.newProposal.statement' placeholder='Write your main proposal statement here.' required></textarea>
    <div class='length_counter happy-text' ng-show='newProposalForm.statement.$valid'>{{ 140 - sessionSettings.newProposal.statement.length }} characters remaining</div>
    <div class='length_counter error-text' ng-show='newProposalForm.statement.$invalid &amp;&amp; !newProposalForm.statement.$error.minlength &amp;&amp; !newProposalForm.statement.$error.maxlength'>
      <div class='fa fa-warning'></div>
      <span>Required</span>
    </div>
    <div class='length_counter error-text' ng-show='newProposalForm.statement.$error.minlength'>
      <div class='fa fa-warning'></div>
      <span>Too Short</span>
    </div>
    <div class='length_counter error-text' ng-show='newProposalForm.statement.$error.maxlength'>
      <div class='fa fa-warning'></div>
      <span>Too Long</span>
    </div>
  </div>
  <div class='form-group'>
    <textarea class='full-width' id='vote_comment' name='comment' ng-maxLength='280' ng-minLength='7' ng-model='sessionSettings.newProposal.comment' placeholder='Explain why others should support your proposal here.' required></textarea>
    <div class='length_counter happy-text' ng-show='newProposalForm.comment.$valid'>{{ 280 - sessionSettings.newProposal.comment.length }} characters remaining</div>
    <div class='length_counter error-text' ng-show='newProposalForm.comment.$invalid &amp;&amp; !newProposalForm.comment.$error.minlength &amp;&amp; !newProposalForm.comment.$error.maxlength'>
      <div class='fa fa-warning'></div>
      <span>Required</span>
    </div>
    <div class='length_counter error-text' ng-show='newProposalForm.comment.$error.minlength'>
      <div class='fa fa-warning'></div>
      <span>Too Short</span>
    </div>
    <div class='length_counter error-text' ng-show='newProposalForm.comment.$error.maxlength'>
      <div class='fa fa-warning'></div>
      <span>Too Long</span>
    </div>
  </div>
</div>
