<div class='modal' id='registrationModal'>
  <div class='modal-header'>
    <div class='close pull-right' ng-click='close()'>&times;</div>
    <h3>Join SpokenVote</h3>
    <div id='alertContainer'>
      <div alert-bar alertmessageclear='alertService.alertClass' class='modalAlert' ng-show='alertService.alertDestination=="modal"'></div>
    </div>
  </div>
  <div class='modal-body'>
    <div class='login_providers'>
      <div class='content_div'>
        <div class='fb-button-container-centered'>
          <div class='fb-button' ng-click="userOmniauth('facebook')">
            <span class='fb-button-left'></span>
            <span class='fb-button-center'>
              <strong>Sign in</strong>
              with
              <strong>Facebook</strong>
            </span>
            <span class='fb-button-right'></span>
          </div>
        </div>
      </div>
    </div>
    <h3 class='or-separator'>or</h3>
    <div class='login_form'>
      <form name='registrationForm' ng-submit='register()' novalidate>
        <div class='form-group'>
          <div class='controls'>
            <input class='full-width' id='name' name='name' ng-minLength='4' ng-model='registration.name' placeholder='Name' required type='text'>
              <div class='input-below-text' ng-show='registrationForm.name.$invalid &amp;&amp; registrationForm.name.$dirty'>Minimum length of 4</div>
            </input>
          </div>
        </div>
        <div class='form-group'>
          <div class='controls'>
            <input class='full-width' id='email_field' name='email' ng-minLength='3' ng-model='registration.email' placeholder='Email address' required type='email'>
          </div>
        </div>
        <div class='form-group'>
          <div class='controls'>
            <input class='full-width' id='password_field' name='password' ng-minLength='5' ng-model='registration.password' placeholder='Password' required type='password'>
            <div class='input-below-text' ng-show='registrationForm.password.$invalid &amp;&amp; registrationForm.password.$dirty'>Minimum length of 5</div>
          </div>
        </div>
        <div class='form-group'>
          <div class='controls'>
            <input class='full-width' id='password_confirmation_field' name='password_confirmation' ng-minLength='5' ng-model='registration.password_confirmation' placeholder='Confirm password' required type='password'>
            <div class='input-below-text' ng-show='registration.password != registration.password_confirmation &amp;&amp; registrationForm.password_confirmation.$dirty || registrationForm.$invalid &amp;&amp; registrationForm.password_confirmation.$dirty '>Almost ...</div>
            <div class='input-below-text' ng-show='registrationForm.$valid &amp;&amp; registration.password == registration.password_confirmation &amp;&amp; registrationForm.password_confirmation.$dirty'>Match!</div>
          </div>
        </div>
        <input class='invisible' type='submit'>
      </form>
    </div>
  </div>
  <div class='modal-footer'>
    <div class='form-group'>
      <div class='controls'>
        <button class='btn btn-primary btn-bold' ng-click='register()' ng-disabled='!registrationForm.$valid || registration.password != registration.password_confirmation'>Join SpokenVote</button>
      </div>
    </div>
  </div>
</div>
