<div class='alert alert-bar' ng-class='alertService.alertClass' ng-show='alertService.alertClass'>
  <button class='close' ng-click='hideAlert()' type='button'>&times;</button>
  <ul-list-style-type-none>
    <li>{{ alertService.cltActionResult }}</li>
    <li>{{ alertService.alertMessage }}</li>
    <span ng-repeat='(key, values) in alertService.jsonErrors'>
      <li ng-repeat='value in values' ng-show='alertService.jsonErrors'>
        {{ key | capitalize }} {{ value }}
      </li>
    </span>
  </ul-list-style-type-none>
</div>
