<div id='improveProposalModal'>
  <div class='modal-header'>
    <div class='close pull-right' ng-click='$close()'>&times;</div>
    <h2 class='modal-title'>Improve Proposal</h2>
    <div class='selectedHub'>
      <span>
        <div class='groupName'>
          {{ clicked_proposal.hub.group_name }}
        </div>
        <div class='groupLocation'>
          {{ clicked_proposal.hub.formatted_location }}
        </div>
      </span>
    </div>
  </div>
  <div class='modal-body'>
    <div id='alertContainer'>
      <div alert-bar alertmessageclear='alertService.alertClass' class='modalAlert' ng-show='alertService.alertDestination=="modal"'></div>
    </div>
    <form name='improvedProposalForm'>
      <div class='instructions'>
        <div class='avatar'>
          <ng-include src="'/assets/shared/_currentuser_avatar.html'"></ng-include>
        </div>
        <h5>You are improving upon the proposal below.</h5>
      </div>
      <h5 class='hint-text'>
        <div class='fa fa-lightbulb-o'></div>
        <span>Hint! Try to make as few changes to the original proposal as possible while making your improvement.</span>
      </h5>
      <div class='proposal_statement'>
        <div class='form-group'>
          <h5>Original Proposal</h5>
          <div class='originalProposal'>
            <h4>{{ clicked_proposal.statement }}</h4>
          </div>
        </div>
        <div class='text_input'>
          <div class='form-group'>
            <h5>Your Improved Proposal</h5>
            <textarea class='full-width' id='proposal_statement' name='proposal_statement' ng-maxLength='140' ng-minLength='15' ng-model='improvedProposal.statement' placeholder='Write your improved proposal here, making as few changes to the original proposal as possible to effect your change.' required></textarea>
            <div class='length_counter happy-text' ng-show='improvedProposalForm.proposal_statement.$valid'>{{ 140 - improvedProposal.statement.length }} characters remaining</div>
            <div class='length_counter error-text' ng-show='improvedProposalForm.proposal_statement.$invalid &amp;&amp; !improvedProposalForm.proposal_statement.$error.minlength &amp;&amp; !improvedProposalForm.proposal_statement.$error.maxlength'>
              <div class='fa fa-warning'></div>
              <span>Required</span>
            </div>
            <div class='length_counter error-text' ng-show='improvedProposalForm.proposal_statement.$error.minlength'>
              <div class='fa fa-warning'></div>
              <span>Too Short</span>
            </div>
            <div class='length_counter error-text' ng-show='improvedProposalForm.proposal_statement.$error.maxlength'>
              <div class='fa fa-warning'></div>
              <span>Too Long</span>
            </div>
          </div>
          <div class='form-group'>
            <textarea class='full-width' id='vote_comment' name='vote_comment' ng-maxLength='280' ng-minLength='7' ng-model='improvedProposal.comment' placeholder='Explain why others should support your improved proposal.' required></textarea>
            <div class='length_counter happy-text' ng-show='improvedProposalForm.vote_comment.$valid'>{{ 280 - improvedProposal.comment.length }} characters remaining</div>
            <div class='length_counter error-text' ng-show='improvedProposalForm.vote_comment.$invalid &amp;&amp; !improvedProposalForm.vote_comment.$error.minlength &amp;&amp; !improvedProposalForm.vote_comment.$error.maxlength'>
              <div class='fa fa-warning'></div>
              <span>Required</span>
            </div>
            <div class='length_counter error-text' ng-show='improvedProposalForm.vote_comment.$error.minlength'>
              <div class='fa fa-warning'></div>
              <span>Too Short</span>
            </div>
            <div class='length_counter error-text' ng-show='improvedProposalForm.vote_comment.$error.maxlength'>
              <div class='fa fa-warning'></div>
              <span>Too Long</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class='modal-footer'>
    <fieldset>
      <div class='form-group'>
        <div class='controls'>
          <button class='btn btn-primary btn-bold' ng-click='saveImprovement()' ng-disabled='!improvedProposalForm.$valid'>Save Improved proposal</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
