<div id='newProposalModal'>
  <div class='modal-header'>
    <div class='close pull-right' ng-click='$close()'>&times;</div>
    <h2 class='modal-title'>Start New Topic</h2>
    <ng-include src="'/assets/shared/_selected_hub.html'"></ng-include>
  </div>
  <div class='modal-body'>
    <ng-include src="'/assets/shared/_alert_container.html'"></ng-include>
    <form name='newProposalForm' ng-submit='votingService.saveNewProposal(modalInstance)'>
      <div class='newProposal'>
        <ng-include src="'/assets/shared/_change_hub.html'"></ng-include>
        <ng-include src="'/assets/shared/_make_hub.html'"></ng-include>
        <ng-include src="'/assets/shared/_proposal_area.html'"></ng-include>
      </div>
    </form>
  </div>
  <div class='modal-footer'>
    <fieldset>
      <div class='control-group'>
        <div class='controls'>
          <button class='btn btn-primary btn-bold' ng-click='votingService.saveNewProposal(modalInstance)' ng-disabled='!newProposalForm.$valid' ng-show='sessionSettings.actions.changeHub == false'>Save your New proposal</button>
          <button class='btn btn-primary btn-bold' ng-click='sessionSettings.actions.changeHub = false' ng-disabled='!newProposalForm.formatted_location.$valid || !newProposalForm.group_name.$valid' ng-show='sessionSettings.actions.changeHub == "new"'>Continue</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
