<div class='proposal_container' ui-if='proposal.has_support'>
  <div class='main-proposal' id='prop{{ proposal.id }}'>
    <div class='stats' id='big-percent'>
      <div id='big-percent'>{{ proposal.votes_percentage }}</div>
      <ng-include class='pull-right' src="'/assets/shared/_social_buttons.html'"></ng-include>
    </div>
    <div class='proposal_statement'>
      <h3>
        <a ng-click='showProposal(proposal)' ng-href='#'>{{ proposal.statement }}</a>
      </h3>
    </div>
    <div class='improve_support_buttons'>
      <div class='edit btn-group' ng-show='currentUser &amp;&amp; proposal.is_editable &amp;&amp; proposal.user_id == currentUser.id'>
        <span class='hidden-xs hidden-sm'>
          <button class='btn btn-primary edit' ng-click='edit(proposal)' tooltip-html-unsafe='{{tooltips.edit}}' tooltip-placement='right'>
            <i class='fa fa-pencil fa-2x'></i>
          </button>
        </span>
        <span class='hidden-md hidden-lg'>
          <button class='btn btn-primary edit' ng-click='edit(proposal)'>
            <i class='fa fa-pencil fa-2x'></i>
          </button>
        </span>
        <span class='hidden-xs hidden-sm'>
          <button class='btn btn-danger delete' ng-click='delete(proposal)' tooltip-html-unsafe='{{tooltips.delete}}' tooltip-placement='right'>
            <i class='fa fa-trash-o fa-2x'></i>
          </button>
        </span>
        <span class='hidden-md hidden-lg'>
          <button class='btn btn-danger delete' ng-click='delete(proposal)'>
            <i class='fa fa-trash-o fa-2x'></i>
          </button>
        </span>
      </div>
      <div class='vote_buttons_container' ng-hide='currentUser &amp;&amp; proposal.is_editable &amp;&amp; proposal.user_id == currentUser.id'>
        <span class='hidden-xs hidden-sm'>
          <button class='btn btn-support btn-bold main' ng-click='support(proposal)' tooltip-html-unsafe='{{tooltips.support}}' tooltip-placement='right'>
            <i class='fa fa-thumbs-o-up fa-2x'></i>
          </button>
        </span>
        <span class='hidden-md hidden-lg'>
          <button class='btn btn-support btn-bold main' ng-click='support(proposal)'>
            <i class='fa fa-thumbs-o-up fa-2x'></i>
          </button>
        </span>
        <span class='hidden-xs hidden-sm'>
          <button class='btn btn-improve btn-bold main' ng-click='improve(proposal)' tooltip-html-unsafe='{{tooltips.improve}}' tooltip-placement='right'>
            <i class='fa fa-code-fork fa-2x'></i>
          </button>
        </span>
        <span class='hidden-md hidden-lg'>
          <button class='btn btn-improve btn-bold main' ng-click='improve(proposal)'>
            <i class='fa fa-code-fork fa-2x'></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class='supporting_arguments'>
    <h3 ng-show='proposal.has_support'>
      Supporters
      <votes>({{ proposal.votes_count }}</votes>
      <votes count='proposal.votes_count' ng-pluralize when="{'0': 'Vote count error', '1': 'Vote)', 'other': 'Votes)'}">) ({{proposal.votes_count}} votes)</votes>
    </h3>
    <div class='row support_row' ng-repeat='(key, vote) in proposal.votes'>
      <div class='proposal-person col-xs-2'>
        <div class='supporter-avatar'>
          <img ng-src='http://graph.facebook.com/{{ vote.facebook_auth }}/picture?width=30&amp;height=30' ui-if='vote.facebook_auth'>
          <img ng-src='http://gravatar.com/avatar/{{ vote.gravatar_hash }}.png?s=30&amp;d={{ sessionSettings.spokenvote_attributes.defaultGravatar }}' ui-if='!vote.facebook_auth'>
        </div>
      </div>
      <div class='support-comment col-xs-10'>
        <supporter-name>
          <a ng-click='setVoter(vote)' ng-href='#'>{{ vote.username }}</a>
        </supporter-name>
        <supporter-text>
          {{ vote.comment }}
        </supporter-text>
        <div class='supported_date'>
          {{ vote.updated_at }}
        </div>
      </div>
    </div>
  </div>
</div>
