<div class='content_page'>
  <div id='totalVoteLabel'>
    <span class='label'>
      {{ proposal.votes_in_tree }}
      <ng-pluralize count='proposal.votes_in_tree' when="{'0': 'Vote count error', '1': 'Vote', 'other': 'Votes'}"></ng-pluralize>
      on {{ proposal.related_proposals_count + 1 }}
      <ng-pluralize count='proposal.related_proposals_count + 1' when="{'0': 'Proposal count error', '1': 'Proposal', 'other': 'Proposals'}"></ng-pluralize>
    </span>
  </div>
  <div class='proposal_hub'>
    <a class='hub' href='#' ng-click='hubView()'>
      <h2>{{ proposal.hub.group_name }} &ndash; {{ proposal.hub.formatted_location }}</h2>
    </a>
  </div>
  <ng-include src="'/assets/proposals/_show.html'"></ng-include>
  <div class='hr'></div>
  <div id='relatedProposals' ng-controller='RelatedProposalShowCtrl'>
    <div class='related-header'>
      <div class='relatedSorter pull-right'>
        <div class='btn-group' ng-show='proposal.related_proposals_count &gt; 1'>
          <button class='btn' type='button'>{{ selectedSort || "Sort Proposals" }}</button>
          <button bs-dropdown='related_sorter_dropdown' class='btn' type='button'>
            <span class='caret'></span>
          </button>
        </div>
      </div>
      <div class='relatedProposalsTitle'>
        Alternative Proposals
      </div>
    </div>
    <ng-include ng-repeat='(key, proposal) in relatedProposals.related_proposals' ng-show='proposal.related_proposals_count &gt; 0' src="'/assets/proposals/_show.html'"></ng-include>
  </div>
  <h3 ng-show='proposal.related_proposals_count &lt; 1'>There are no alternative proposals yet.</h3>
</div>
