%h1.page_title Welcome to SpokenVote!

.row
  .span8
    %h2
      = link_to 'Add a Position', new_position_path, :class => 'btn pull-right'
      Current Active Positions 
    %table.listing
      %tr
        %th Name
        %th Description
        %th Location

      - @governing_bodies.each do |governing_body|
        %tr
          %td= link_to governing_body.name, edit_governing_body_path(governing_body)
          %td= governing_body.description
          %td= governing_body.location

  #sidebar.span4
    %h2 Sidebar
