.span8
  %h1 Governing Body

  %table#governing_body_show.table
    %tr
      %td Name
      %td= @governing_body.name
    %tr
      %td Description
      %td= @governing_body.description
    %tr
      %td Location
      %td= @governing_body.location
