%h1 Listing positions_tags

%table
  %tr
    %th
    %th
    %th

  - @positions_tags.each do |positions_tag|
    %tr
      %td= link_to 'Show', positions_tag
      %td= link_to 'Edit', edit_positions_tag_path(positions_tag)
      %td= link_to 'Destroy', positions_tag, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Positions tag', new_positions_tag_path
