%footer.navbar.navbar-inverse
  .navbar-inner
    .container
      %center
        = link_to 'SpokenVote', 'http://github.com/railsforcharity/spokenvote'
        is a
        = link_to 'Rails for Charity', 'http://railsforcharity.org'
        open source project distributed under the terms of either the MIT License or the GNU GPLv2 or later.
