.span11
  %table.listing
    %thead
      %tr
        %th.table-title{ :colspan => '2' }
          = link_to 'New Hub', new_hub_path, :class => 'btn btn-mini pull-right'
          Hubs
      %tr
        %th Name
        %th Most Active Proposal

    %tbody
      - @hubs.each do |hub|
        %tr
          %td
            =hub.name
            -#- if hub.proposals.count > 0
            -#  = link_to hub.name, hub_path(hub)
            -#  = items_count_badge(hub.proposals.count, 'Total Proposals')
            -#- else
            -#  = hub.name
            %br
          %td
            10
            -#- if hub.proposals.count > 0
            -#  - first_pos = hub.proposals.order(:votes_count).first
            -#  = items_count_badge(first_pos.votes_count, 'Total Votes')
            -#  = link_to first_pos.statement, hub_proposal_path(hub, first_pos)
            -#- else
            -#  %em No proposals yet
