.content_page
  %h1  Spokenvote

  .content_page
    .content_page
      .content_page
        %h2 Simplified Consensus
        .content_div
          .content_page
            .content_page
              %h3
                %ol
                  %li Find your group or audience
                  .content_div_half
                  %li See what they are proposing
                  .content_div_half
                  %li Help the best ideas reach consensus
                  .content_div_1_5
                    %h2
                    .content_div_1_5
                    %h2

.content_page_centered
  %h1
  .content_div_1_5
  %h3
    We’ve tried to make it easy, so
    = link_to 'try it!', 'https://trello.com/board/spokenvote/50db1f1f9aaccd882d00272c', :target => 'blank'
  %h1

.content_page
  %h2 Intention
  .content_div
    Spokenvote is a tool to help groups of any size, from a local school board to an entire nation’s people, reach consensus with radical efficiency. We think the process should be intuitive, fun, and yes, democratic.

.content_page
  %h2 How it Works
  .content_div
    First we capture your ideas, called Proposals. Then you get to organically improve the semantics of those proposals on your way toward reaching a majority opinion together. As the wording improves, the best proposals gain momentum by receiving support from multiple users and forms a clarity of consensus.

.content_page
  %h2 Why it Matters
  .content_div
  Deeply inspired by Wikipedia, Spokenvote is an open-source non-profit intended for small groups today, but over time to reach national politics. It starts with spontaneously capturing ideas as they occur to us. When we do   that as a diverse group, a
  %em “power of the crowd”
  effect is introduced. The result is often a revelation of common sense that is difficult to discover from a top-down approach.

.content_page
  %h2 Contributing
  .content_div
    Spokenvote is an open source application, and we welcome your participation in building it.
    = link_to "Learn more.", 'http://railsforcharity.github.com/spokenvote'


