.static_page
  %h1  Spokenvote

  .pull-right
    %img(src="/assets/Search_130203.png" width="400")

  %h2 Consensus Simplified

  .content_offset
    %h3
      .attention_red
        %ol
          %li Find a group
          .content_div_half
          %li See what they're proposing
          .content_div_half
          %li Help the best ideas reach consensus
          .content_div

  .content_offset
    %h3
      Start by finding your group in the top box.

  %h2 How it Works
  .content_div
    First we capture your ideas, called Proposals. Then you get to organically improve the semantics of those proposals on your way toward reaching a majority opinion together. As the wording improves, the best proposals gain momentum by receiving support from multiple users and forming a clarity of consensus.

  %h2 Why it Matters
  .content_div
  Spokenvote is a tool to help groups of any size, from a local school board to an entire nation’s people, reach consensus with radical efficiency. We think the process should be intuitive, fun, and yes, democratic.
  .content_div_half
  Deeply inspired by Wikipedia, Spokenvote is an open source non-profit intended for small groups today, but over time to reach national politics. It starts with spontaneously capturing ideas as they occur to us. When we do   that as a diverse group, a
  %em “power of the crowd”
  effect is introduced. The result is often a revelation of common sense that is difficult to discover from a top-down approach.

  %h2 Contribute
  .content_div
    Spokenvote is an open source application, and we welcome your participation in building it.
    = link_to "Learn more.", 'http://railsforcharity.github.com/spokenvote'
