<div id='userSettingsModal'>
  <div class='modal-header'>
    <div class='close pull-right' ng-click='$close()'>&times;</div>
    <h2>My Settings</h2>
    <div class='selectedHub'>
      <div class='hub'>
        <h3>{{ currentUser.name }}</h3>
        <h5>{{ sessionSettings.facebookUser.me.location.name }}</h5>
      </div>
    </div>
    <div id='alertContainer'>
      <div alert-bar alertmessageclear='alertService.alertClass' class='modalAlert' ng-show='alertService.alertDestination=="modal"'></div>
    </div>
  </div>
  <div class='modal-body'>
    <form name='userSettingsForm'>
      <div class='instructions'>
        <div class='avatar'>
          <ng-include src="'/assets/shared/_currentuser_avatar.html'"></ng-include>
        </div>
        <h5>At this time your settings all come from Facebook and should be edited there. Very soon some awesome social graph features will be added, and this window is where you will configure them.</h5>
      </div>
      <input class='half-width' id='user_full_name' ng-disabled='true' ng-maxLength='50' ng-minLength='5' ng-model='currentUser.name' placeholder='Your full name' required type='text'>
      <input class='half-width' id='user_email' ng-disabled='true' ng-maxLength='50' ng-minLength='5' ng-model='sessionSettings.facebookUser.me.email' placeholder='Your primary email' required type='text'>
      <input class='thee_quarter-width' id='user_location' ng-disabled='true' ng-maxLength='50' ng-minLength='5' ng-model='sessionSettings.facebookUser.me.location.name' placeholder='Your city' required type='text'>
      <input class='thee_quarter-width' id='user_hometown' ng-disabled='true' ng-maxLength='50' ng-minLength='5' ng-model='sessionSettings.facebookUser.me.hometown.name' placeholder='Your hometown' required type='text'>
    </form>
  </div>
  <div class='modal-footer'>
    <fieldset>
      <div class='form-group'>
        <div class='controls'>
          <button class='btn btn-primary btn-bold' ng-click='saveUserSettings()' ng-disabled='userSettingsForm.$valid || userSettingsForm.$invalid'>Save Settings</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
