.span3.proposal-person{data: {vote_number: vote_counter+1}}
  %img{data: {src: "holder.js/20x20/#{vote_counter.even? ? 'industrial' : 'social'}/text:avatar"}}
  = vote.user.name || vote.user.email
.span8
  = truncate(vote.comment, :length => 140, :omission => '...more')

-if @no_more
  .hide_the_more_link &nbsp;