.content_page
  = render partial: 'show', :locals => { :proposal => @proposal, :total_votes => @total_votes }

  .hr

  %h2#relatedProposalsTitle Related Proposals
  - @proposal.related_proposals.each_with_index do |related_proposal|
    = render partial: 'show', :locals => { :proposal => related_proposal, :total_votes => -1 }

:javascript
  $(document).ready(function () {
    $('.more').click(function (e) {
      e.preventDefault();

      var el = $(this).find('a'),
          url = el.attr('href');

      $.ajax({
        url: url,
        success: function (data) {
          el.closest('.proposal_container').find('.supporting_arguments .span11').append(data);
          var decodedUrl = decodeURIComponent(url);

          if(data.match(/hide_the_more_link/)) {
            el.closest('.proposal_container').find('.more').hide();
          } else {
            var matches = decodedUrl.match(/(page:)(\d)(.*)/);

            if(matches) {
              page_prefix = matches[1];
              page_number = matches[2];
              the_rest = matches[3];
              newUrl = page_prefix + (parseInt(page_number) + 1) + the_rest
              el.attr('href', window.location + '?context=' + newUrl);
            }
          }
        }
      });
    });

    $('.improve').click(function (e) {
      e.preventDefault();

      var el = $(this),
          proposal_container = el.closest('.proposal_container'),
          editableBox = proposal_container.find('.content_editable'),
          improve_support_buttons = proposal_container.find('.improve_support_buttons'),
          content_editable_buttons = proposal_container.find('.content_editable_buttons');

      editableBox.attr('contenteditable', 'true');
      proposal_container.find('.improve_form').removeClass('hide').addClass('active');
      proposal_container.find('.proposal_statement').toggle();
      improve_support_buttons.hide();
      content_editable_buttons.show();
    });

    $('.cancel').on('click', function (e) {
      e.preventDefault();
      hideContentEditable($(this));
    });
    
    $('.support').on('click', function(e) {
      e.preventDefault();
      var el = $(this),
          proposal_container = el.closest('.proposal_container'),
          improve_support_buttons = proposal_container.find('.improve_support_buttons');

      proposal_container.find('.support_form').removeClass('hide').addClass('active');
      improve_support_buttons.hide();
    });

    $('.save_statement').on('click', function () {
      var el = $(this),
        proposal_container = el.closest('.proposal_container'),
        editableBox = proposal_container.find('.content_editable'),
        proposal_id = proposal_container.data('proposal-id'),
        url = '/proposals/' + proposal_id,
        new_value = editableBox.text().trim();

      console.log(el);

      $.ajax({
        url: url,
        type: 'PUT',
        dataType: 'json',
        data: {
          proposal: {
            statement: new_value
          }
        },
        success: function (data) {
          hideContentEditable(el);
        }
      });
    });

    function hideContentEditable(el) {
      var proposal_container = el.closest('.active'),
          editableBox = proposal_container.find('.content_editable'),
          improve_support_buttons = proposal_container.parent().find('.improve_support_buttons')

      if (editableBox.length > 0) {
        editableBox.attr('contenteditable', 'false');
        proposal_container.parent().find('.proposal_statement').toggle();
      }
      proposal_container.removeClass('active').addClass('hide');
      improve_support_buttons.show();
    }
  });