.shares.btn-group
  %a( class='btn btn-xs' ng-href='#' ) <i class='fa fa-twitter'></i>
  %a( class='btn btn-xs' ng-href='#' ) <i class='fa fa-facebook'></i>
  %a( class='btn btn-xs' ng-href='#' ) <i class='fa fa-google-plus'></i>
