#loading-bar .bar {
  background: $happy-blue;
//  background: $spring-green;
  height: 4px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 34px;
  height: 34px;

  border:  solid 4px transparent;
  border-radius: 30px;

  border-top-color:  $happy-blue;
  border-left-color: $happy-blue;
}
#loading-bar .peg {
  -moz-box-shadow: $happy-blue 1px 0 6px 1px;
  -ms-box-shadow: $happy-blue 1px 0 6px 1px;
  -webkit-box-shadow: $happy-blue 1px 0 6px 1px;
  box-shadow: $happy-blue 1px 0 6px 1px;
}