.content_page {
  @extend .span11; margin-left: 20px;
  h2 { margin-top: 20px; }
  .content_div { margin-bottom: 20px; }
  .profile_form, .login_providers, .login_form {
    label { font-weight: bold; }
    input.btn, .hr { margin-top: 20px; }
  }
  .login_providers, .login_form {
    @extend .span5; @extend .offset3; clear: both;
    h2 { margin-bottom: 20px; }
    .hr { @extend .span4; }
  }
  .login_providers { margin-bottom: 20px; }
}