
// Landing page

#homepage {
  margin-left: 0;
}

.right-column {
  padding-left: 50%;
  padding-top: 20px;
}

.left-column {
  padding-right: 50%;
  padding-top: 20px;
}


// static_pages elements

.static_page {
  @extend .col-xs-11;
  margin-left: $gridGutterWidth;
  h1 {
    margin-bottom: ($gridGutterWidth * 2.25);
    font-size: ($gridGutterWidth *2);
    color: #315D99;
  }
  h2 {
    margin-top: ($gridGutterWidth * 1.5);
    color: #555;
  }
  h3 {
    margin-bottom: $gridGutterWidth;
    font-size: 20px;
  }
  h4 {
    color: #555;
    line-height: 30px;
  }
  .content_offset {
    margin-left: 40px;
  }
  .content_offset li {
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
  }
  .centered {
    text-align: center;
  }
//  .pull-right {
//    .screen-shot-examples {
//      text-align: right;
//      padding-top: 30px;
//      img {
//        padding-bottom: 40px;
//      }
//    }
//  }
  .content_div {
    margin-bottom: 20px;
  }
  .content_div_half {
    margin-bottom: 16px;
  }
  .content_div_1_5 {
    margin-bottom: 30px;
  }
  label {
    font-weight: bold;
  }
}

.boxes-123.row {
  padding: 0 10px;
  .col-xs-4 {
    padding: 0 5px;
  }
  i {
    border-radius: 23%;
//    background-image: linear-gradient(rgba(249, 164, 0, 0.5), rgba(250, 112, 0, 0.5));
    background-color: rgba(208, 208, 208, 0.3);
    width: 74px;
    height: 74px;
    padding: 10px;
  }
}

.below_fold {
  padding: 7% 0;
  .fold_row {
    padding: 2% 0;
    img {
      max-width: 100%;
      border-radius: 8px;
    }
    .screen-shot-examples {
      text-align: center;
    }
  }
  .instructions {
   padding: 0 5% 0 7%;
 }
}

.btn-getStarted {
  font-size: 22px;
//  font-style: italic ;
  background-color: hsl(121, 53%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47c649", endColorstr="#2c902e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#47c649), to(#2c902e));
  background-image: -moz-linear-gradient(top, #47c649, #2c902e);
  background-image: -ms-linear-gradient(top, #47c649, #2c902e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #47c649), color-stop(100%, #2c902e));
  background-image: -webkit-linear-gradient(top, #47c649, #2c902e);
  background-image: -o-linear-gradient(top, #47c649, #2c902e);
  background-image: linear-gradient(#47c649, #2c902e);
  border-color: #2c902e #2c902e hsl(121, 53%, 33%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

// end static_pages elements

// Forum Elements

#forum_page {
  .forum_area {
    text-align: center;
    padding: 15px 10px 0 0;
    body.GPWWNDVGG {
      font-size: 18px;
    }
  }
}
