// Current Hub Elements

.currentHub {
  color: $soft-grey;
  text-decoration: none;


  :hover {
    color: $happy-blue;
    cursor: pointer;
  }

  .fullHub {
    height: 30px;
    input {
      font-size: 20px;
    }
    .btn {
      font-size: 20px;
      opacity: 0.85;
      border-radius: 5px;
      padding: 3px;
    }
    .btn-default {
      &:active {
        box-shadow: none;
      }
    }
    .form-control {
      //border: none;
      box-shadow: none;
    }
    .form-control:focus {
      box-shadow: none;
    }
    .dropdown-menu {
      box-shadow: none;
      border: none;
      background-color: $airbnbBackgroundWhite;
      margin-left: -15px;
    }
  }

  .newHubLocation {
    margin-bottom: 0;

    h3 {
      color: $happy-blue;
      margin: 0;
    }

    .input-area {
      input {
        text-align: center;
        background-color: inherit;
        font-size: .9em;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      .length_counter {
        padding: 0 5px 5px 5px;
        margin-top: -5px;
        text-align: center;
        .happy-text a.link {
          color: $alert-blue;
        }
      }
    }
    .hint-text {
      background-color: $modal-body-off-white;
      opacity: 0.55;
      border-radius: 8px;
      h5 {
        margin: 0;
        padding: 5px;
      }
    }
  }
}





