
// Current Hub Elements

.currentHub {
  font-family: $logoTypeFace;
  color: $basic-brown !important;
//  text-align: right;
  text-decoration: none;
//  margin-top: -10px;
//  @media (max-width: $grid-float-breakpoint-max) {
//    margin-top: -5px;
//  }
  .groupName {
    font-size: 27px;
    text-align: center;
    padding-left: 50px;
    //    margin-right: 3px;
    i {
      font-size: 14px;
    }
  }
  .groupLocation {
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: -6px;
    margin-right: 3px;
  }
  :hover {
    color: $happy-blue;
    cursor: pointer;
  }
}
