
// Modal Elements

.modal-dialog {
  @media (max-width: $grid-float-breakpoint-max) {
    margin: 5px;
  }
}

.modal-header {
  @media (max-width: $grid-float-breakpoint-max) {
    padding-top: 0;
    .close {
      padding: 5px 1px;
    }
  }
  h2 {
    color: $happy-blue;
    font-size: 2em;
    font-weight: bold;
  }
  .selectedHub {
    font-family: $logoTypeFace;
    color: $basic-brown !important;
    text-align: right;
    text-decoration: none;
    margin-top: -10px;
    @media (max-width: $grid-float-breakpoint-max) {
      margin-top: -5px;
    }
    .groupName {
      font-size: 27px;
      margin-right: 3px;
      i {
        font-size: 14px;
      }
    }
    .groupLocation {
      font-size: 14px;
      margin-top: -4px;
      margin-bottom: -6px;
      margin-right: 3px;
    }
    :hover {
      color: $happy-blue;
      cursor: pointer;
    }
  }
}

.modal-body {
  background-color: $modal-body-off-white;
  padding: 3%;
  form {
//    margin-bottom: 0;                     // TODO need this?
//    padding-left: 10px;
  }
  .form-group {
    padding: 3px 3px 0 3px;
  }
  .modalMessageArea {                    // TODO Duplicate?
    padding: 0px 20px;
    color: $soft-brown-text;
//    .avatar {
//      padding: 0 5px 5px 5px;
//      float: left;
//      height: 100%;
//      img {
//        width: $small-avatar-height;
//        height: auto;
//      }
//    }
    .italic_offset {
      font-style: italic;
      padding-left: 12px;
      padding-right: 25px;
      padding-bottom: 15px;
      margin-top: 0px;
    }
  }
  .instructions {
    padding: 0px 10px;
    @media (min-width: $grid-float-breakpoint) {
      padding: 0 10px 20px 10px;
    }
    .avatar {
      padding: 0 5px 5px 5px;
      float: left;
      height: 100%;
      img {
        width: 35px;
        height: auto;
      }
    }
    h5 {
      color: $soft-brown-text;
      padding-left: 50px;
    }
  }
}

.modal-footer {
  margin: 0;
  padding: 20px;
  min-height: 55px;
  .pull-left {
    text-align: left;
  }
}

// Depreciated

//.modal {
//  top: 15% !important;
//  position: fixed !important;
//}

//.modal-backdrop {
//  background-color: #000 !important;
//}