.navbar-inverse .container {
  .navbar {
    color: #000;
    border-color: #315c99;
  }
  form {
    display: inline-block;
    input, .btn {
      vertical-align: baseline;
      margin-right: 0;
    }
  }
  .input {
    margin-top: 0;
  }
  .input-append {
    margin-top: -2px;
  }
  .input-append .btn {
    margin-left: -4px;
    font-variant: small-caps;
  }
}

header {
  border-bottom: 1px solid;
  background: #252525;
  background-image: url(sprite.png);
  background-repeat: repeat-x;
  height: 43px;
  .navbar-inverse .container {
    .nav.navbar-right {
      li.buttons {
        margin-top: 6px;
      }
      li.dropdown {
        padding-left: 10px;
      }
      li.avatar {
        margin-top: -8px;
        margin-right: -5px;
      }
    }
  }
}

.navbar-header > .navbar-brand {
  margin-top: -5;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: -1px;
  color: $happy-blue;

  &:hover span.vote {
    color: white !important;
  }

  span.vote {
    color: $spring-green;
    margin-left: -3px;
  }
}

#hub_search {
  padding: 7px 0 0 28px;
  a {
    padding: 1px 4px;
  }
  li.hub_filter {
    //padding: 0px 30px 0px 0px;
  }
}

.navbar .nav > li > a {
  //padding: 11px 15px 13px;
  color: #bbb;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
  &.btn {
    padding: 4px 10px 4px;
    margin-right: 10px;
  }
}

#location_filter {
  @include border-radius(4px);
}

.clear-location {
  position: relative;
  right: 20px;
  font-size: 12px;
  z-index: 10001;
  opacity: 0.5;
}


//footer.navbar-inverse {
//  &.navbar {
//    margin-bottom: 0;
//  }
//  .navbar-inner {
//    border-top: 1px solid;
//    //@include background(linear-gradient(scale-lightness(#e97e3b, 20), #e97e3b));
//    background: #252525;
//    background-image: url(sprite.png);
//    background-repeat: repeat-x;
//    @include border-radius(0);
//    text-align: center;
//    .container {
//      width: 940px;
//      height: 44px;
//    }
//  }
//}
