.navbar-inverse .navbar-inner {
  .navbar-inner {
    color: #000;
    border-color: #315c99;
  }
  //font-family: 'Offside', cursive;
  //font-family: 'Megrim', cursive;
  //font-family: 'Audiowide', cursive;
  .brand {
    //color: #315d99;
    color: #c1c1c1;
    //    font-weight: 700; font-family: 'Megrim'; letter-spacing: -1px;
    margin-left: -14px;
    padding-top: 10px;
    padding-right: 35px;
    &.audiowide {
      font-family: 'Audiowide';
      letter-spacing: -2px;
    }
    &.megrim {
      //font-family: 'Megrim';
      font-family: 'Yanone Kaffeesatz', sans-serif;
      letter-spacing: -1px;
    }
    &.offside {
      font-family: 'Offside';
      letter-spacing: -2px;
    }
    img {
      vertical-align: bottom;
      height: 24px;

    }
  }
  form {
    display: inline-block;
    input, .btn {
      vertical-align: baseline;
      margin-right: 0;
    }
  }
  .input {
    margin-top: 0;
  }
  .input-append {
    margin-top: -2px;
  }
  .input-append .btn {
    margin-left: -4px;
    font-variant: small-caps;
  }
}

header.navbar-inverse .navbar-inner {
  border-bottom: 1px solid;
  //@include background(linear-gradient(#e97e3b, scale-lightness(#e97e3b, 20)));
  background: #252525;
  background-image: url(sprite.png);
  background-repeat: repeat-x;
  .nav li.dropdown > .dropdown-toggle .caret {
    //border-top-color: #fff;
    //border-bottom-color: #fff;
  }
  .nav.pull-right {
    color: #fff;
    li.dropdown ul {
      margin-top: 9px;
      margin-left: 5px;
      margin-right: 10px;
      vertical-align: middle;
    }
    li.avatar {
      margin-left: 5px;
      margin-top: -5px;
    }
    li.buttons {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

.brand {
  font-weight: 700 !important;
  font-size: 30px !important;
  //font-family: 'Megrim';
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: -1px;
}

footer.navbar-inverse {
  &.navbar {
    margin-bottom: 0;
  }
  .navbar-inner {
    border-top: 1px solid;
    //@include background(linear-gradient(scale-lightness(#e97e3b, 20), #e97e3b));
    background: #252525;
    background-image: url(sprite.png);
    background-repeat: repeat-x;
    @include border-radius(0);
    text-align: center;
    .container {
      width: 940px;
    }
    .brand {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      display: inline;
      float: none;
      font-size: 14px;
    }
  }
}

.navbar .nav > li > a {
  padding: 11px 8px 13px;
  color: #bbb;
  font-weight: bold;
  &:hover {
    //background-color: #999;
  }
  &.btn {
    padding: 4px 10px 4px;
    margin-right: 10px;
  }
}

.brand {
  img {
    height: 20px;
    @include border-radius(2px);
  }
}

#s2id_hub_filter {
  padding: 6px 0 0;
  a {
    padding: 1px 4px;
  }
}

// disalbed because we want the drop to natively just match the search box
//.select2-drop-active, .pac-container { z-index: 10000 !important; width: 505px !important; }
#location_filter {
  @include border-radius(4px);
}

.clear-location {
  position: relative;
  right: 20px;
  font-size: 12px;
  z-index: 10001;
  opacity: 0.5;
}
