$twitterBlack: #252525;

.navbar-inverse .container {
  .navbar {
    color: #000;
    border-color: #315c99;
  }
  form {
//    display: inline-block;
    input, .btn {
      vertical-align: baseline;
      margin-right: 0;
    }
  }
  .input {
    margin-top: 0;
  }
  .input-append {
    margin-top: -2px;
  }
  .input-append .btn {
    margin-left: -4px;
    font-variant: small-caps;
  }
}

.navbar-collapse {
//  height: 40px;
}

header {
  border-bottom: 1px solid;
  background: $twitterBlack;
//  background-image: url(sprite.png);
//  background-repeat: repeat-x;
//  height: 43px;
  .container {
    .nav.navbar-nav.navbar-right {
    }
  }
}

.navbar-header > .navbar-brand {
  padding: 13px 15px;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: -1px;
  color: $happy-blue;
  &:hover span.vote {
    color: white !important;
  }
  span.vote {
    color: $spring-green;
    margin-left: -3px;
  }
}
.hub_search {
  padding: 5px 5px 5px 5px;
  width: 45%;
  a {
    padding: 1px 4px;
  }
}

.new_topic {
  padding: 9px 0px 0px 24px;
}
#user_profile {
  li.dropdown {
//    padding-left: 10px;
  }
  li.avatar {
    margin-top: -7px;
    margin-right: -3px;
  }
  li.buttons {
    padding: 5px 12px 0px 0px;
  }
}

.navbar {
  padding-right: 15px;
//  min-height: 42px;
  .nav > li > a {
    //padding: 11px 15px 13px;
    color: #bbb;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    &:hover {
      cursor: pointer;
    }
    &.btn {
      padding: 4px 10px 4px;
      margin-right: 10px;
    }
  }


  #location_filter {
    @include border-radius(4px);
  }

  .clear-location {
    position: relative;
    right: 20px;
    font-size: 12px;
    z-index: 10001;
    opacity: 0.5;
  }
}