// these styles are being saved, not currently needed

#locateHub {
  background: #80A0CC;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-left: 80px;
  border: 2px solid #315c99;
  @include border-radius(10px);
  overflow: auto;
  form { margin: 0 auto 20px; width: 652px; }
}

.h1 { @extend h1; }

.hero-unit {
  padding: 40px;
  width: 820px;
  overflow: auto;
  p {
    margin-top: 20px;
    margin-bottom: 0;
    color: #385173;
    img {
      margin: 10px 20px 10px 0;
      float: left;
    }
  }
  .close {
    margin-top: -20px;
    margin-right: -20px;
  }
}

#sidebar {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .15));
  @include box-sizing(border-box);
  margin-left: 60px;
  background-color: #e4e4e4;
  &, .login_form { @include border-radius(6px); }
  .login_box {
    border: none;
    @include border-radius(0);
    @include box-shadow(0);
    hr, br { display: none; }
  }
  .login_form {
    padding-bottom: 0;
    margin: 5px auto;
  }
  h3 {
    font-size: 18px;
    a img {
      max-width: 50px;
    }
  }
}

