
// Search box formatting

.select2-container {
  .select2-choice {
    height: 32px;
    line-height: 32px;
    border: none;
    box-shadow: none;
    outline: none;
    background: $googlePanelGreyLettering;
    abbr {
      right: 13px;
    }
    @media (max-width: $grid-float-breakpoint-max) {
      abbr {
          right: 5px;
        }
    }
    @media (min-width: $grid-float-breakpoint) {
//      display: table;
//      min-width: none;
//      min-width: 425px;
      height: 43px;
    }
    .select2-chosen {
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      margin-right: 12px;
      @media (min-width: $grid-float-breakpoint) {
//        display: table-cell;
        padding: 5px;
        vertical-align: middle;
        font-size: 1em;
        height: 100%;
        //        font-weight: 500;
        text-align: left;
      }
    }
    .select2-arrow {
      display: none;
    }
  }
}

.select2-search {
  input {
    background: $chisel-grey;
    border: none;
    border-radius: 2px;
  }
}

.select2-drop-active {
//  background-color: rgba(34, 34, 34, 0.75);
  background-color: $googlePanelGreyLettering;
  border: none;
  box-shadow: none;
}
.select2-no-results {
  background: none !important;
  color: #999 !important;
}