
// Search box formatting

.hub_search {
  padding: 2px 9px 0px 18px;
  //  width: 45%;
  a {
    padding: 1px 4px;
  }
}

.select2-container {
  .select2-choice {
    display: table;
    height: 32px;
    line-height: 32px;
    border: none;
    box-shadow: none;
    background: $googlePanelGreyLettering;
    @media (max-width: $grid-float-breakpoint-max) {
      min-width: none;
      //      background: $iPhoneHearderBrightWhiteTransparent;
//      margin: 0px 5px;
      border-radius: 4px;
      abbr {
        right: 5px;
      }
      //      border: none;
      //      @include single-box-shadow(#CCCCCC, 0, 0, 2px, 2px);
    }
    @media (min-width: $grid-float-breakpoint) {
      min-width: 425px;
      height: 43px;
    }
    .select2-chosen {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      margin-right: 12px;
      @media (min-width: $grid-float-breakpoint) {
        font-size: 1em;
        height: 100%;
        //        font-weight: 500;
        text-align: left;
      }
    }
    .select2-arrow {
      display: none;
    }
  }
}

.select2-search {
  input {
    background: $chisel-grey;
    border: none;
    border-radius: 2px;
  }
}

.select2-drop-active {
//  background-color: rgba(34, 34, 34, 0.75);
  background-color: $googlePanelGreyLettering;
  border: none;
  box-shadow: none;
}
.select2-no-results {
  background: none !important;
  color: #999 !important;
}