html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-sans-serif;
  background: #ffffff;
  font-size: 1.25em;
}

img {
  vertical-align: middle;
}

td.sv-logo {
  text-align: center;
}

.msg-body-wrap {
  background: #EEF0F1;
  width: 100%;
//  text-align: center;

}

.msg-container {
  //  margin: 0 auto;
  //  max-width: 600px;
  border: none;
  padding:0 18px;
  margin: 50px auto;
  width: 500px;
}

table {
  .head-wrap {
    width: 100%;
  }
  .msg-wrap {
    width: 100%;
  }
}