@import "compass";

$headingsColor: #315c99;
$heroUnitHeadingColor: $headingsColor;
@import "compass_twitter_bootstrap_awesome";

// structural styles
body {
  padding-top: 40px;
  @include background(linear-gradient(#ddd, #eee 45%, #fff));
  &.long { @include background(linear-gradient(#eee 15%, #80A0CC 30%, #ddd 35%, #eee 55%, #ccc 75%, #80A0CC 90%, #fff)); }
}

footer {
  &.navbar { margin-bottom: 0; }
  .navbar-inner { @include border-radius(0); }
  .container { padding: 10px 0; }
  a { color: #fff; }
}

#main {
  .container { background-color: #fff; }
}

#mainContent { padding: 20px; }
.content {
  margin: 0; /* negative indent the amount of the padding to maintain the grid system */
  @include clearfix;
}

.span11 > .form-horizontal {
  margin-top: 20px;
  .control-group, .supporting-args { margin-bottom: 10px; }
}

.alert { width: 810px; margin-left: 20px; }
.no-gutter { margin-left: 0; }
// end Structural

// General elements
.clear { clear: both; }
h1.form-horizontal { padding-left: 160px; }

.label-large {
  font-size: 16px;
  padding: 5px 8px 6px;
  border: 1px solid #dddddd;
}
.label-flat { border-radius: 0; }

.btn-bold { font-weight: bold; }
.hr {
  background-color: #80A0CC;
  overflow: auto;
  border: 2px solid #80A0CC;
}

.page_title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  .searched & { @extend .hide; }
  h1 { font-size: 32px; color: #315D99; }
  span { color: #ff0000; }
}

h2 { margin-bottom: 12px; }

.listing { // commonly used table styles
  width: 100%;
  margin-bottom: 0;
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-hover;
  @include border-radius(4px 4px 0 0);
  th {
    text-align: left;
    background-color: #315D99;
    color: #fff;
    font-size: 16px;
    border-top: none;
  }
  th.table-title {
    font-size: 24px;
    line-height: 20px;
  }
  tr:last-child th { border-left: none; }
  tr:last-child th:first-child { border-left: 1px solid #ddd; }
  th .pull-right { margin-right: 14px; }
  th, td { padding: 6px 0 6px 10px; }
  tbody:last-child tr:last-child td:first-child { border-bottom-left-radius: 0; }
  tbody:last-child tr:last-child td:last-child { border-bottom-right-radius: 0; }
  .pos_statement {
    @extend .pull-left;
    width: 80%;
    margin-left: 10px;
  }
  .count-column { text-align: center; }
}

textarea { height: 100px; }
.full-width { width: 99%; }
.popover-content * { white-space: normal; font-size: 13px; } // fixes wordwrap, input-append 0x issues

[contenteditable="true"] {
  padding: 10px;
  outline: 2px dashed #000;
  background: #fff;
}
[contenteditable="true"]:hover { outline: 2px dashed #0090D2; }

.select2-container.span4 { margin-left: 0; }
.user-avatar { float: left; width: 35px; }

.modal-header {
  @include border-top-radius(6px);
  background-color: #eee;
}
// end General elements

// Partial imports
@import 'partials/navigation';
@import 'partials/content_pages';

// Proposal-related
.proposal_hub {
  h2 {
    margin-top: 0;
    color: #315D99;
    font-family: Futura;
    letter-spacing: -2px;
  }
}
.listing-proposals {
  margin-bottom: 0px;
  .proposal_buttons { width: 114px; }
  td.proposal_buttons + td { border-left: none; }
}
#proposalNotFound div:last-child { background-color: #e4e4e4; text-align: center; margin-left: 0; }
#hpContent { @extend .span11; margin-left: 20px; }

.main-proposal {
}
.support_container {
  @extend .no-gutter;
  background: #ddd;
  padding: 10px;
  margin-bottom: 20px;
  h3 { line-height: normal; margin-top: 0; }
}
.improve_form, .support_form {
  h3 { font-size: 24px; color: #ff0000; }
  .proposal_form_buttons { margin-top: 10px; }
}

.improve_form {
  background: #ddd;
  padding: 10px;
  border: 1px solid #999;
}

.main-proposal, .supporting_arguments {
  h3 { margin-bottom: 10px; }
  .proposal-person {
    margin-left: 0;
    margin-bottom: 6px;
    img { @include border-radius(3px); }
  }
}

.improve_support_buttons { margin-top: 20px; }
.supporting_arguments {
  h3 span {
    font-size: 80%;
    font-weight: normal;
    color: #999;
  }
  .proposal-person { @extend .clear; }
  .support_row {
    @extend .no-gutter;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  .support_row.first { border-top: none; padding-top: 0; }
}
.supporting_statement, .support_comment {
  div { margin-bottom: 10px; }
  div:last-child { margin-bottom: 0; }
}

.proposal_container { margin: 20px 0; }

.proposal_statement {
  font-size: 176%;
  margin-bottom: 10px;
  .active & { width: 97%; }
  h4 {
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #999999;
  }
}
.supporting_statement { font-size: 16px; }

.proposal_fields {
  margin-top: 10px;
  label {
    @include inline-block;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 17px;
  }
  label.first { margin-left: 0; padding-top: 8px; }
}

#relatedProposalsTitle {
  font-size: 28px;
  color: #315c99;
  margin-top: 20px;
}
.related_supporting {
  clear: both;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#relatedSorter {
  @extend .pull-right;
  margin-top: 10px;
}

#totalVoteLabel {
  @extend .pull-right;
  margin-top: -20px;
  .label {@extend .label-large; @extend .label-success; @extend .label-flat;}
}
// end Proposal-related
