@import "compass";

// Spokenvote Colors
$happy-blue: #1c85f6;
$spring-green: #50D050;
$chisel-grey: #c1c1c1;
$modal-body-off-white: #DFDFDF;
$soft-grey: rgba(132, 132, 132, 0.75);
$basic-brown: #444;
$soft-brown-text: #555555;
$facebook-blue: #3B5998;
$alert-blue: #284784;
$error-text-red: #b94a48;
$tag-blue: rgba(28, 133, 246, 0.25);

$gridGutterWidth:         20px !default;

//$headingsColor: #315c99;
//$headingsColor: #444;
//$heroUnitHeadingColor: $headingsColor;

//@import "compass_twitter_bootstrap_awesome";

// structural styles
body {
  padding-top: ($gridGutterWidth * 2);
  @include background(linear-gradient(#ddd, #eee 45%, #fff));
}

footer {
  &.navbar {
    margin-bottom: 0;
    margin-top: ($gridGutterWidth/10);
  }
  .container {
    padding: ($gridGutterWidth/2) 0;
  }
  a {
    color: #fff;
  }
}

.container {
  @extend .col-md-12;
}

#main {
  overflow: visible;
  background: url(noisy_grid.png);
  min-height: 1200px;
  //height: auto;
  .content {
    overflow: visible;
  }
}

.content {
  margin: 0;
  @include clearfix;
}

input {
  border-radius: 4px;
  margin: 2px 3px 11px 3px;
}

#mainContent {
  padding: $gridGutterWidth $gridGutterWidth $gridGutterWidth ($gridGutterWidth * 2);
  margin-bottom: $gridGutterWidth;
  position: relative;
}

.col-md-11 > .form-horizontal {
  margin-top: $gridGutterWidth;
  .form-group, .supporting-args {
    margin-bottom: ($gridGutterWidth/2);
  }
}

.alert {
  margin-left: $gridGutterWidth;
  margin-bottom: 0;
  @include border-radius(0);
  text-align: center;
}

.no-gutter {
  margin-left: 0;
}


#alertContainer {

  .pageAlert {
    @extend .col-md-7;
    position: fixed;
    opacity: .95;
    z-index: 20000;
    margin-left: ($gridGutterWidth * 9);
  }

  .modalAlert {
    opacity: .95;
    z-index: 10000;
    margin-top: -5px;
    padding-bottom: 13px;
  }

  .alert-bar {
    @include border-radius(5px);
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.tag_item {
  background-color: $tag-blue;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  padding: 0px 4px 0px 4px;
  .close_x {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    vertical-align: top;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.icon-edit {
  font-size: 13px;
  line-height: 18px;
  vertical-align: top;
  margin-right: -1px;
}

.length_counter {
  text-align: right;
  margin-right: ($gridGutterWidth * 1.25);
  font-size: 10px;
  //  margin-top: ($gridGutterWidth * -0.55);
  //  margin-bottom: ($gridGutterWidth * 0.30);
//  color: gray;
}

.error-text {
  color: $error-text-red;
}

.hint-text {
  font-style: italic;
  color: $alert-blue;
  text-align: center;
}

.right-column {
  padding-left: 50%;
  padding-top: 20px;
}

.left-column {
  padding-right: 50%;
  padding-top: 20px;
}


// end Structural

// General elements
.clear {
  clear: both;
}

h1.form-horizontal {
  padding-left: ($gridGutterWidth * 8);
}

.label-large {
  font-size: 16px;
  padding: ($gridGutterWidth/4) ($gridGutterWidth * 0.4) ($gridGutterWidth * 0.3);
  border: 1px solid #dddddd;
}

.label-flat {
  border-radius: 0;
}

.btn-bold {
  font-weight: bold;
}

.hr {
  background-color: rgba(28, 133, 246, 0.25);
  overflow: auto;
  border: 1.35px solid rgba(28, 133, 246, 0.55);
}

.page_title {
  text-align: center;
  //width: 905px;
  //margin-left: -25px  ;
  .searched & {
    @extend .hide;
  }
  h1 {
    font-size: 78px;
    color: #333;
    text-shadow: 1px 1px 2px #999;
    line-height: 80px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
  }
  .tag_line {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: $spring-green;
    font-size: 72px;
    line-height: 80px;
    font-style: italic ;
    padding-top: 30px;
  }
}

h2 {
  margin-bottom: ($gridGutterWidth * 0.6);
}

.listing {
  // commonly used table styles
  width: 100%;
  margin-bottom: 0;
  @extend .table;
    //@extend .table-striped;
  //@extend .table-bordered;
  @extend .table-hover;
  @include border-radius(4px 4px 0 0);
  th {
    text-align: left;
    background-color: $happy-blue;
    color: #fff;
    font-size: 16px;
    border-top: none;
  }
  th.table-title {
    font-size: 24px;
    line-height: 20px;
  }
  tr:last-child th {
    border-left: none;
  }
  tr:last-child th:first-child {
    border-left: 1px solid #ddd;
  }
  th .pull-right {
    margin-right: ($gridGutterWidth * 0.7);
  }
  th, td {
    padding: ($gridGutterWidth * 0.3);
  }
  tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 4px;
  }
  tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 0;
  }
  .pos_statement {
    @extend .pull-left;
    width: 80%;
    margin-left: ($gridGutterWidth/2);
  }
  .count-column {
    text-align: center;
  }
}

textarea {
  height: 60px;
}

.full-width {
  width: 97%;
}

.half-width {
  width: 48%;
}

.thee_quarter-width {
  width: 71%;
}

.popover {
  z-index: 12001;
}

.popover-content * {
  white-space: normal;
  font-size: 13px;
}

// Angular-specific Styles

//ng-valid

input.ng-invalid.ng-dirty {
  border-color: #e9322d !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
  -moz-box-shadow: 0 0 6px #f8b9b7 !important;
  box-shadow: 0 0 6px #f8b9b7 !important;
}

textarea.ng-invalid.ng-dirty {
  border-color: #e9322d !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
  -moz-box-shadow: 0 0 6px #f8b9b7 !important;
  box-shadow: 0 0 6px #f8b9b7 !important;
}

//ng-pristine

//ng-dirty

.input-below-text {
  margin-top: ($gridGutterWidth * -0.5);
  margin-bottom: ($gridGutterWidth * 0.5);
  margin-left: ($gridGutterWidth * 0.2);
}


// fixex Google Autocomplete coming up behind other elements
.pac-container {
  z-index: 10000 !important;
}

// fixes wordwrap, input-append 0x issues

[contenteditable="true"] {
  padding: 10px;
  outline: 2px dashed #000;
  background: #fff;
}

[contenteditable="true"]:hover {
  outline: 2px dashed #0090D2;
}

.select2-container.col-md-4 {
  margin-left: 0;
}

.user-avatar {
  float: left;
  //margin-right: 13px;
  img {
    @include border-radius(3px);
    background-color: #ccc;
    border: 1px solid #B9B9B9;
    color: $basic-brown;
    display: block;
    width: 35px;
    height: 35px;
  }
}


.modal-header {
//  @include border-top-radius(6px);
//  background-color: #eee;
  h2 {
    color: $happy-blue;
    font-weight: bold;
  }
}

.modal-footer {
  margin: 0;
  .pull-left {
    text-align: left;
  }
}
.modal-backdrop {
//  background-color: #000 !important;
}

.modal {
//  top: 15% !important;
//  position: fixed !important;
}

.modal-body {
  background-color: $modal-body-off-white;
//  padding-top: $gridGutterWidth;
  form {
    margin-bottom: 0;
    padding-left: 10px;
  }
  .instructions {
    font-family: inherit;
    //margin-top: ($gridGutterWidth * 0.3);
    margin-left: ($gridGutterWidth * 0.3);
    //padding-bottom: 18px ;
    .avatar {
      margin-left: ($gridGutterWidth * 0.9);
    }
    h5 {
      color: $soft-brown-text;
      margin-right: $gridGutterWidth;
      padding: 0 0 ($gridGutterWidth) ($gridGutterWidth * 3.25);
//      padding-bottom: ($gridGutterWidth);
      //font-weight: normal;
      //margin-top: ($gridGutterWidth * 1.25);
      //margin-bottom: ($gridGutterWidth * 0.85);
    }
  }
}

.newProposal {
  margin-bottom: -38px;
  .changehub {
    .selecthub {
      margin-top: 5px;
      text-align: center;
      padding-bottom: 32px;
    }
    .makeHub {
      padding-bottom: 22px;
      margin-left: 35px;
      h3 {
        font-style: italic;
        color: $happy-blue;
        font-size: 135%;
      }
      .hint-text {
        margin-left: 30px;
        margin-top: -11px;
        margin-right: 55px;
        padding-bottom: 4px;
      }
      input {
        margin-left: 18px;
      }
    }
  }
  .proposal-area {
  }
  padding-bottom: 18px;
  .text_input {
    padding-left: 7px;
  }
}

.selectedHub {
  margin-top: -10px;
//  margin-bottom: 52px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: right;
  text-decoration: none;
  .hub {
    color: $basic-brown !important;
    h3 {
      font-family: inherit;
      margin-right: 3px;
      i {
        font-size: 14px;
      }
    }
    h5 {
      font-family: inherit;
      margin-top: -2px;
      margin-bottom: -4px;
      margin-right: 3px;
    }
  }
  a.hub {
    :hover {
      color: $happy-blue;
    }
  }
}


#confirmationModalQuestion {
  margin: $gridGutterWidth 0;
  font-weight: bold;
}

.alert-special {
  position: absolute;
  top: 0;
  left: 0;
  width: 93%;
}

// end General elements

// Login elements
.login_providers {
  margin-bottom: $gridGutterWidth;
}

.login_form {
  background-color: #DFDFDF;
  padding-top: ($gridGutterWidth * 0.05);
  form {
    margin: 0;
  }
  .form-group {
    margin-left: ($gridGutterWidth * 0.75);
    margin-bottom: 0;
  }
  [type="text"], [type="email"], [type="password"] {
    width: ($gridGutterWidth * 17.75);
  }
  label {
    font-weight: normal;
  }
  .btn {
    margin-bottom: ($gridGutterWidth/2);
  }
  #forgotLink, #loginModal & .btn {
    margin-left: ($gridGutterWidth * 1.05);
  }
  #forgotLink {
    padding-bottom: ($gridGutterWidth/2);
    a, a:visited {
      color: #ADADAD;
      text-decoration: underline;
    }
  }
}

#loginModal, #registrationModal {
  width: ($gridGutterWidth * 20);
  margin-left: ($gridGutterWidth * -10);

  .modal-body {
    width: ($gridGutterWidth * 20);
    @include background(linear-gradient(center top, #FFFFFF, #F5F5F5) repeat scroll 0 0 transparent);
    @include box-shadow(0 0 3px #FFFFFF inset, 0 2px 2px -2px rgba(0, 0, 0, 0.2));
    padding: 0;
  }
  h3.or-separator {
    background: image-url("or-bubble-sep.png") no-repeat scroll left bottom transparent;
    margin: 0;
    color: #959595;
    font-size: 1.8em;
    letter-spacing: 1px;
    line-height: 1.6em;
    position: relative;
    text-align: center;
  }
}

.fb-button-container-centered {
  padding: $gridGutterWidth $gridGutterWidth 0;
  text-align: center;
  .fb-button {
    @include inline-block;
    float: none;
    margin-bottom: 5px;
    margin-right: 5px;
    left: auto;
    border: 0 none !important;
    @include border-radius(4px);
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    strong {
      font-weight: bolder;
    }
  }
  .fb-button-left, .fb-button-center, .fb-button-right {
    @include background(image-url("fb-button-sprite.png") no-repeat scroll left top transparent);
    float: left;
    height: 40px;
    display: block;
  }
  .fb-button-left {
    width: ($gridGutterWidth * 2);
  }
  .fb-button-center {
    width: ($gridGutterWidth * 12.6);
    text-align: center;
    background-color: #6385BA;
    background-position: left ($gridGutterWidth * -2);
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 40px;
    padding: 0 ($gridGutterWidth/4) 0 ($gridGutterWidth * 0.4);
  }
  .fb-button-right {
    background-position: 100% ($gridGutterWidth * -4);
    width: ($gridGutterWidth * 0.3);
  }
}

// end Login elements

// Partial imports
@import 'partials/navigation';

// content_pages elements
.content_page {
  @extend .col-md-11;
  //width: 917px;
  padding: $gridGutterWidth $gridGutterWidth $gridGutterWidth 32px;
  background-color: #fff;
  @include single-box-shadow(#CCCCCC, 0, 0, 2px, 2px);
  margin-top: -20px;
  margin-left: -13px;
  h2 {
    margin-top: $gridGutterWidth;
  }
  .content_div {
    margin-bottom: $gridGutterWidth;
  }
  label {
    font-weight: bold;
  }
}

// end content_pages elements

// static_pages elements
.static_page {
  @extend .col-md-11;
  margin-left: $gridGutterWidth;
  h1 {
    margin-bottom: ($gridGutterWidth * 2.25);
    font-size: ($gridGutterWidth *2);
    color: #315D99;
  }
  h2 {
    margin-top: ($gridGutterWidth * 1.5);
    color: #555;
  }
  h3 {
    margin-bottom: $gridGutterWidth;
    font-size: 20px;
  }
  h4 {
    color: #555;
    line-height: 30px;
  }
  .content_offset {
    margin-left: 40px;
  }
  .content_offset li {
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
  }
  .centered {
    text-align: center;
  }
  .pull-right {
  }
  .attention_red {
    color: #9d261d;
  }
  .content_div {
    margin-bottom: 20px;
  }
  .content_div_half {
    margin-bottom: 16px;
  }
  .content_div_1_5 {
    margin-bottom: 30px;
  }
  label {
    font-weight: bold;
  }
}

// end static_pages elements

// Proposal-related
.proposal_hub {
  a.hub {
    text-decoration: none;
    :hover {
      color: $happy-blue;
    }
  }

  h2 {
    margin-top: 14px;
    //color: #315D99;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: $basic-brown;
    //letter-spacing: -2px;
  }
}

#homepage {
  margin-left: 0;
}

.landing_hubfilter {
  -webkit-border-bottom-left-radius: 4px;
  .proposal_buttons {
    width: 114px;
  }
  .header {
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top, #f6f6f6 0%,#e5e5e5 100%);
    padding: 12px 10px 10px 10px;
  }
}

.listing-proposals {
  -webkit-border-bottom-left-radius: 4px;
  .header {
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top, #f6f6f6 0%,#e5e5e5 100%);
  }
  .title {
    h4 {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  .btn-group {
    padding: 5px 0 8px 0;
  }
  .list-avatar {
    padding: 0px 0px 0px 13px;
    avatar-sprite {
      padding: 0px 0px 0px 0px;
    }
    img {
      margin-left: -5px;
      width: 20px;
      height: auto;
    }
  }

  .proposal {
    font-size: 175%;
    :hover {
      color: $happy-blue;
      cursor: pointer;
    }
    a {
      color: $basic-brown;
    }
  }
  .hub {
    font-size: 14px;
    margin-bottom: -11px;
    :hover {
      color: $happy-blue;
      cursor: pointer;
    }
    a {
      color: $soft-grey;
    }
  }
  .votes {
    font-size: 24px;
    font-weight: bold;
    color: $happy-blue;
    text-align: right;
  }
  .prop_count {
    font-size: 24px;
    font-weight: bold;
    color: $spring-green;
    text-align: right;
  }
  .label {
    margin-left: 34px;
    background-color: rgba(153, 153, 153, 0.46);
    color: whitesmoke;
    line-height: 8px;
    font-size: 8px;
    padding: 1px 4px 1px;
  }
  .date-stamp {
    //color: whitesmoke;
    margin-right: -73px;
    margin-bottom: -3px;
    text-align: right;
    line-height: 8px;
    font-size: 8px;
    padding: 1px 0px 0px;
    color: rgba(132, 132, 132, 0.65);
  }
  ul {
    margin: 0 0 0 14px;
    list-style: none;
    :hover {
      background-color: rgba(240, 240, 255, 0.45);
      border-radius: 10px;
      cursor: pointer;
    }
  }

  li.tree_container {
    line-height: 25px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.35);
    padding: 10px 0;
    position: relative;
  }
}

.panel {
  //width: 930px;
  padding: 5px 15px 1px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%,#e5e5e5 100%);
  border: 1px solid #c8c8c8;
  border-color: rgba(0,0,0,0.2);
  border-radius: 5px;
}

#proposalNotFound div {
  margin-left: 0;
}

#proposalNotFound div:last-child {
  background-color: #e4e4e4;
  text-align: center;
  padding: 3px 10px;
  -webkit-border-radius: 4px;
}

#hpContent {
  @extend .col-md-11;
  margin-left: 20px;
}

.vote_buttons_container {
  @extend .col-md-9;
  //text-align: center;
  margin-left: 10px;
}
.support_container {
  @extend .no-gutter;
  background: #ddd;
  padding: 10px;
  margin-bottom: 20px;
  h3 {
    line-height: normal;
    margin-top: 0;
  }
}

//.main-proposal, .supporting_arguments {
//  h3 {
//    margin-bottom: 10px;
//  }
//  .proposal-person {
//    margin-left: 0;
//    margin-bottom: 6px;
//    img {
//      @include border-radius(3px);
//    }
//  }
//}

.improve_support_buttons {
  display: inline;
  .btn-support {
    background-color: hsl(211, 92%, 46%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#449bf7", endColorstr="#0971e1");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#449bf7), to(#0971e1));
    background-image: -moz-linear-gradient(top, #449bf7, #0971e1);
    background-image: -ms-linear-gradient(top, #449bf7, #0971e1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #449bf7), color-stop(100%, #0971e1));
    background-image: -webkit-linear-gradient(top, #449bf7, #0971e1);
    background-image: -o-linear-gradient(top, #449bf7, #0971e1);
    background-image: linear-gradient(#449bf7, #0971e1);
    border-color: #0971e1 #0971e1 hsl(211, 92%, 42%);
    color: #fff !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
    -webkit-font-smoothing: antialiased;  
  }
  .btn-improve {
    //color: white;
    //background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(90, 218, 93)), to(rgb(33, 106, 35))) !important;
    background-color: hsl(121, 53%, 37%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47c649", endColorstr="#2c902e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#47c649), to(#2c902e));
    background-image: -moz-linear-gradient(top, #47c649, #2c902e);
    background-image: -ms-linear-gradient(top, #47c649, #2c902e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #47c649), color-stop(100%, #2c902e));
    background-image: -webkit-linear-gradient(top, #47c649, #2c902e);
    background-image: -o-linear-gradient(top, #47c649, #2c902e);
    background-image: linear-gradient(#47c649, #2c902e);
    border-color: #2c902e #2c902e hsl(121, 53%, 33%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
    -webkit-font-smoothing: antialiased;
  }

  .shares {
    float: right;
//    margin-right: 20px;
    margin-top: 5px;
  }
  .main {
    margin-right: 10px;
    font-size: 14px;
  }
}

.btn-newTopic {
  background-color: hsl(36, 80%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaa947", endColorstr="#b77614");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eaa947), to(#b77614));
  background-image: -moz-linear-gradient(top, #eaa947, #b77614);
  background-image: -ms-linear-gradient(top, #eaa947, #b77614);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaa947), color-stop(100%, #b77614));
  background-image: -webkit-linear-gradient(top, #eaa947, #b77614);
  background-image: -o-linear-gradient(top, #eaa947, #b77614);
  background-image: linear-gradient(#eaa947, #b77614);
  border-color: #b77614 #b77614 hsl(36, 80%, 35%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.supporting_arguments {
  h3 {
    padding: 30px 0px 10px 0px ;
  }
  votes {
    font-size: 80%;
    font-weight: normal;
    color: $soft-grey;
  }
  .proposal-person {
//    @extend .clear;
    .user-avatar {
      margin-right: 13px;
    }
//    margin-left: 0;
//    margin-bottom: 6px;
  }
  .supported_date {
    @include inline-block;
    .shares {
      display: block;
      margin-top: 4px;
    }
  }
  .support_row {
    @extend .no-gutter;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    //    &.last { border-bottom: none;}
  }
}

.supporting_statement, .support_comment {
  div {
    margin-bottom: 10px;
  }
  div:last-child {
    margin-bottom: 0;
  }
}

.proposal_container {
  margin: 20px 0;
  overflow: visible;
}

.proposal_statement {
  margin-bottom: 10px;
  .active & {
    width: 97%;
  }
  h3 {
    font-size: 200%;
    :hover {
      color: $happy-blue;
    }
    a {
      color: $basic-brown;
    }
  }
  h4 {
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #999999;
  }
  h5 {
    color: $soft-brown-text;
  }
}

.supporting_statement {
  font-size: 16px;
}

.supported_date {
  margin-bottom: 10px;
}

.shares  .btn {
  @extend .btn-mini;
  background-color: hsl(211, 92%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#449bf7", endColorstr="#0971e1");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#449bf7), to(#0971e1));
  background-image: -moz-linear-gradient(top, #449bf7, #0971e1);
  background-image: -ms-linear-gradient(top, #449bf7, #0971e1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #449bf7), color-stop(100%, #0971e1));
  background-image: -webkit-linear-gradient(top, #449bf7, #0971e1);
  background-image: -o-linear-gradient(top, #449bf7, #0971e1);
  background-image: linear-gradient(#449bf7, #0971e1);
  border-color: #0971e1 #0971e1 hsl(211, 92%, 42%);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
}

.proposal_fields {
  margin-top: 10px;
  label {
    @include inline-block;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 17px;
  }
  label.first {
    margin-left: 0;
    padding-top: 8px;
  }
}

.supporting_arguments_list {
  overflow: hidden;
}

#relatedProposalsTitle {
  font-size: 28px;
  color: #284784;
  margin-top: 20px;
}

.related_supporting {
  clear: both;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#relatedSorter {
  @extend .pull-right;
  overflow: visible;
  margin-top: -10px;
  margin-right: 10px;
}

#totalVoteLabel {
  @extend .pull-right;
  margin-top: -23px;
  margin-right: -26px;
  // flush right on #mainContent
  .label {
    background-color: $chisel-grey !important;
    //background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(221, 221, 221)), to(rgb(134, 134, 134))) !important;
    @extend .label-large;
    @extend .label-success;
    @extend .label-flat;
  }
}

#backNav {
  margin-top: -9px;
  margin-left: -26px;
  a.icon {
    color: $chisel-grey;
    text-decoration: none;
    :hover {
      color: $happy-blue!important;
      }
    }
  }

#big-percent {
  font-size: 24pt;
  font-weight: bold;
  color: $happy-blue;
  float: right;
  padding-left: 10px;
}

// end Proposal-related
