@import "compass";

$headingsColor: #315c99;
$heroUnitHeadingColor: $headingsColor;
@import "compass_twitter_bootstrap_awesome";

// structural styles
body {
  padding-top: 40px;
  background-color: #eee;
}

footer {
  .container { padding: 10px 0; }
  a { color: #fff; }
}

#main {
  .container { background-color: #FFF; }
}

#mainContent { padding: 20px; }
.content {
  margin: 0; /* negative indent the amount of the padding to maintain the grid system */
  @include clearfix;
}

.span11 > .form-horizontal {
  margin-top: 20px;
  .control-group, .supporting-args { margin-bottom: 10px; }
}

.alert { @extend .span11; }

// end Structural

// General elements
.label-large {
  font-size: 16px;
  padding: 5px 8px 6px;
  margin-top: 10px;
  border: 1px solid #dddddd;
  @include border-radius(6px);
}

.hr {
  background-color: #80A0CC;
  overflow: auto;
  border: 2px solid #80A0CC;
}

.page_title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  .searched & { @extend .hide; }
  span { color: #ff0000; }
}

h2 { margin-bottom: 12px; }

.listing { // commonly used table styles
  width: 100%;
  margin-bottom: 0;
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-hover;
  @include border-radius(4px 4px 0 0);
  th {
    text-align: left;
    background-color: #315D99;
    color: #fff;
    font-size: 16px;
    border-top: none;
  }
  th.table-title {
    font-size: 24px;
    line-height: 20px;
  }
  tr:last-child th { border-left: none; }
  tr:last-child th:first-child { border-left: 1px solid #ddd; }
  th .pull-right { margin-right: 14px; }
  th, td { padding: 6px 0 6px 10px; }
  tbody:last-child tr:last-child td:first-child { border-bottom-left-radius: 0; }
  tbody:last-child tr:last-child td:last-child { border-bottom-right-radius: 0; }
  .pos_statement {
    @extend .pull-left;
    width: 80%;
    margin-left: 10px;
  }
  .count-column { text-align: center; }
}

textarea { height: 100px; }

.popover-content * { white-space: normal; } // fixes wordwrap issue

[contenteditable="true"] {
  padding: 10px;
  outline: 2px dashed #CCC;
}
[contenteditable="true"]:hover { outline: 2px dashed #0090D2; }

.select2-container.span4 { margin-left: 0; }

// end General elements

// Proposal-related
.listing-proposals {
  margin-bottom: 0px;
  .proposal_buttons { width: 114px; }
  td.proposal_buttons + td { border-left: none; }
}
#proposalNotFound div:last-child { background-color: #e4e4e4; text-align: center; margin-left: 0; }
#hpContent { @extend .span11; margin-left: 20px; }

.proposal_hub {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}

.main-proposal {
  margin-bottom: 20px;
  h4 {
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #999999;
  }
}

.main-proposal, .supporting_arguments {
  h3 { margin-bottom: 10px; }
  .proposal-person { margin-left: 0; }
}

.proposal_statement {
  font-size: 176%;
  margin-bottom: 10px;
}

#relatedProposalsTitle {
  border-top: 1px solid #999;
  padding-top: 20px;
  margin-top: 10px;
}

.related_supporting {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.total_votes {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
// end Proposal-related

// Partial imports
@import 'partials/navigation';
@import 'partials/content_pages';