.ui-select-container {
  .btn {
    //border: none;
    background-color: $modal-body-off-white-50;
    //background-color: inherit;
    color: inherit;
    width: inherit;

    .caret {
      display: none;
    }

  }

  .btn-default-focus {
    outline: none;
    color: inherit;
    background-color: inherit;
    box-shadow: none;
    .btn {
      outline: thick;
      border-style: dashed;
      border-width: 2px;
      border-color: $search-box-outline;
      background-color: $search-box-highlighter;
      //background-color: transparent;
    }
  }
  .form-control {
    border: none;
  }
  input {
    background-color: inherit;
    margin: 0;
    padding: 0;
    height: 1.6em;
    font-size: .75em;
    color: inherit;
  }
  .ui-select-match {
    text-align: inherit;
  }
}
