.ui-select-container {
  .btn {
    //border: none;
    background-color: $modal-body-off-white;
    //background-color: inherit;
    color: inherit;
    width: inherit;

    .caret {
      display: none;
    }

    }

  .btn-default-focus {
    outline: none;
    color: inherit;
    background-color: inherit;
    box-shadow: none;
    .btn {
      outline: thick;
      border-color: $tally-blue;
      border-style: ridge;
      border-width: 2px;
      background-color: transparent;
    }
  }
  input {
    background-color: inherit;
    margin: 0;
    padding: 0;
    height: 1.6em;
    font-size: .75em;
    color: inherit;
  }
  .ui-select-match {
    text-align: inherit;
  }
}
