# All user-navigable routes appear below

angular.module('Spokenvote').config ['$routeProvider', '$locationProvider', ($routeProvider, $locationProvider) ->

  $routeProvider
  .when '/',
    templateUrl: "<%= asset_path('landing.html.haml') %>",
    controller: 'SpokenvoteCtrl'

  # Hubs
  .when '/newgroup',
    controller: 'HubsCtrl',
    resolve:
      loadModal: -> angular.element("#hubModal").modal("show")

  .when '/hubs',
    templateUrl: "/hubs"

  # Proposals
  .when '/proposals',
    templateUrl: "<%= asset_path('proposals/index.html.haml') %>"
    controller: 'ProposalsCtrl'

  .otherwise
    template: '<h3>Angular does not have that route :( , but Rails might :)</h3>'

  $locationProvider.html5Mode true    #  enabling html5Mode
]