.content_page
  %h1 Using SpokenVote

  %h2 Finding What Matters to You
  .content_div This is help for search and browse.

  %h2 Adding Your Voice
  .content_div This is help for supporting, improving and creating Proposals

  %h2 Participating in SpokenVote
  .content_div This is help for creating an account and signing in

  %h2 More Resources
  .content_div
    Please post questions or issues that aren't answered here to
    %a( ng-href='https://groups.google.com/d/forum/spokenvote-dev' ) our Google Group.