%section#homepage
  .page_title
    .call_to_action Impact decisions that affect you.
    -#.call_to_action Participate in real decisions that affect you.
    .sv-logo( href='/landing' )
      %span.spoken
        Spoken
      %span.vote
        Vote
    .div
      %button( ng-click='getStarted()' class='btn btn-getStarted btn-bold btn-large main'  bs-tooltip='tooltips.newTopic' data-placement='bottom' ) Start

    -#%h1
    .tag_line Social Sentiment
    -#.tag_line Voting redefined.

    .instructions
      %h5
        %a(href='/proposals?filter=active') <i>Browse proposals</i>,
        %span support, create your own.

    .boxes-123.row
      .col-xs-4.text-center
        -#%i.fa.fa-comment-o.fa-5x
        %i.fa.fa-pencil-square-o.fa-5x
        %h2 Find
        %p Find your group to see what they are discussing.
      .col-xs-4.text-center
        %i.fa.fa-thumbs-o-up.fa-5x
        %h2 Support
        %p Add support to any proposal you like, or...
      .col-xs-4.text-center
        %i.fa.fa-code-fork.fa-5x
        %h2 Fork
        %p Create a better version by forking any proposal.

  .below_fold
    .fold_row.row
      .instructions.col-sm-6
        %h2 How it Works

    .fold_row.row
      .instructions.col-sm-6
        %h4.attention_red
          1. Find a group
        %h4 Start by finding your group in the top box. Once you locate your group, click a topic to see its proposals.

      .screen-shot-examples.col-sm-6
        %img.hidden-xs(src="/assets/search_example.png")
        %img.visible-xs.hidden-sm(src="/assets/search_example_xs.png")
        %br

    .fold_row.row
      .instructions.col-sm-6
        %h4.attention_red
          2. See what they're proposing
        %h4 If the topic has not been started yet, click "Start New Topic".

      .screen-shot-examples.col-sm-6
        %img(src="/assets/new_topic_example.png")
        %br

    .fold_row.row
      .instructions.col-sm-6
        %h4.attention_red
          3. Help the best ideas reach consensus
        %h4 In a topic you can add your support to any existing proposal or create an improved version using any proposal as your starting point.

      .screen-shot-examples.col-sm-6
        %img(src="/assets/support_improve_example.png")
        %br

    .fold_row.row
      .instructions.col-sm-6
        %h4 As each participant contributes either support to an existing version or creates a new improved version, the group collectively moves toward reaching a majority opinion together. As the wording improves, the best proposals gain momentum by receiving support from multiple users and forming a clarity of consensus.

    .fold_row.row
      .instructions.col-sm-6
        %h2 Why it Matters
        %h4 Spokenvote is a tool to help groups of any size, from a local school board to an entire nation’s people, reach consensus with radical efficiency. We think the process should be intuitive, fun, and yes, democratic.

        %h4 Deeply inspired by Wikipedia, Spokenvote is an open source non-profit intended for small groups today, but over time to reach national politics. It starts with spontaneously capturing ideas as they occur to us. When we do that as a diverse group, a <i> “power of the crowd” </i> effect is introduced. The result is often a revelation of common sense that is difficult to discover from a top-down approach.

    .fold_row.row
      .instructions.col-sm-6
        %h2 Contribute
        %h4 Spokenvote is an open source application, and we welcome your participation in building it.
        %a( ng-href='http://railsforcharity.github.com/spokenvote' )   Learn more.
