%section#homepage.span12
  .page_title
    %h1 Influence a group, impact the world.
    %h1
      .tag_line Voting redefined.
    %br

    .landing_hubfilter.span9.offset1( ng-controller='DashboardCtrl' )
      .header.row-fluid.panel( ng-init="landing.location='true'" )
        %span
        .hub_filter
          %hidden_field_tag( id='hub_filter' ui-select2='hubFilterSelect2' ng-model='hubFilter.hubFilter' data-width='590px' )
    %br

    %h2
      %br
      %a(href='/proposals?filter=active') <i>Browse proposals</i>,
      %span support one or branch your own. Participate in real decisions.
    %h4
      %br
      %a(href='/about') <i>Learn more...</i>
