%section#homepage.span12
  .page_title
    %h1 Influence a group, impact the world.
    %h1
      .tag_line Voting redefined.
    %h2
      %br
      %a(href='/proposals?filter=active') <i>Browse proposals</i>,
      %span support one or branch your own. Participate in real decisions.
    %h4
      %br
      %a(href='/about') <i>Learn more...</i>
