.static_page
  %h2 Privacy Policy

  %h3 Public Nature of Content Submitted to Sites

  .content_div
    The nature of posting content is to reach a public audience. Please be aware that any information that you submit to us whether through forms or email, including personally identifiable information, may be publicly displayed on sites hosted at www.spokenvote.org, or on websites not within our control. If you don’t want others to see such information, don’t submit it.

  %h3 Content

  .content_div
    To create a new user account, you are required to submit an email address and other personal information. We may publicly display that personal information. Your address may also be used to send you email bulletins from individual Spokenvote postings to which you subscribe, or to attribute comments or posts to you.

  .content_div
    If you contribute content, such as discussion comments, to any of our postings, your contribution may be publicly displayed including personally identifiable information.

  .content_div
    The default setting for individual postings allows outside search engines, indexes and third party sites to scan all postings, create hyperlinks to individual postings or distribute it further via feeds. At this time these settings may not be changed.

  .content_div
    Each time you update your postings, it may also send pings or feeds to sites that index or track newly updated postings. These sites may publicly display a hyperlink to your site and the time that you updated it. If your site publishes XML feeds, content from or links to your site may be publicly displayed on third party sites.

  .content_div
    Depending on the settings on your account, email bulletins that contain content from your site may be sent out to subscribers.

  %h3 IP Addresses and Referrers

  .content_div
    We may publicly display the IP addresses of visitors and contributors to individual postings hosted at www.spokenvote.org.

  .content_div
    We may use your IP address to help diagnose problems with our server, to tailor site content and to format the site and software to user needs, and to generate aggregate statistical reports. We may use aggregate visitor data to prepare publicly displayed reports regarding the traffic on individual postings, site popularity rankings, and referrers that visitors use to access individual postings.

  %h3 Cookies

  .content_div
    If you visit our web site, we may use session cookies while your browser is open, or while you are logged into our site. To facilitate our registration and login functions, we may use cookies to recognize you when you return to our website or to individual postings hosted our site. These cookies allow us to keep track of your username and password, so that you do not have to resubmit the information to log into your account. Always remember to log out of your site or account so that the computer’s other users cannot access your account.

  %h3 Disclosure of Information to Spokenvote administration and to Law Enforcement

  .content_div
    Available log records, and all data stored on our servers may be accessed by our system administrators. The system administrators may produce these records and data upon request or suspected violation of our terms of use. If we receive a warrant or subpoena for user information, we may disclose requested records to law enforcement authorities or outside parties seeking information through the legal process.

  %h3 Links to Independent Websites

  .content_div
    Postings hosted by the Weblogs at Spokenvote may link to independently run web sites outside of the www.spokenvote.org domain. Spokenvote is not responsible for the privacy practices or content of such web sites.

  %h3 Children’s Privacy

  .content_div
    The content at Spokenvote is intended for adults and we will not knowingly collect personal information from children under 13 years old. If you are a parent or legal guardian of a child under age 13 who has become a member of a site hosted by www.spokenvote.org, please contact our administrator to notify us of a suspected violation.

  %h3 Contacting Us

  .content_div
    If you have any questions about this privacy statement or the general terms of use of the site, you may contact us by posting to the Spokenvote group on www.spokenvote.org

  .content_div
    Be Sociable, Share!
