@import "compass";

$headingsColor: #315c99;
$heroUnitHeadingColor: $headingsColor;
@import "compass_twitter_bootstrap_awesome";

body {
  padding-top: 40px;
  background-color: #eee;
}

.alert {
  @extend .span11;
}

.content {
  margin: 0; /* negative indent the amount of the padding to maintain the grid system */
  @include clearfix;
}

.label-large {
  font-size: 16px;
  padding: 5px 8px 6px;
  margin-top: 10px;
  border: 1px solid #dddddd;
  @include border-radius(6px);
}

#mainContent {
  padding: 20px;
}

hr {
  background-color: black;
  height: 1px;
}

.hero-unit {
  padding: 40px;
  width: 820px;
  overflow: auto;
  p {
    margin-top: 20px;
    margin-bottom: 0;
    color: #385173;
    img {
      margin: 10px 20px 10px 0;
      float: left;
    }
  }
  .close {
    margin-top: -20px;
    margin-right: -20px;
  }
}

.page_title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  .searched & { @extend .hide; }
  span { color: #ff0000; }
}

h2 {
  margin-bottom: 12px;
}

#locateHub {
  background: #315c99;
  padding: 20px 20px 10px;
  margin-bottom: 20px;
  margin-left: 60px;
  @include border-radius(10px);
  overflow: auto;
  form { padding-left: 20px; }
}
//#hubSearch { margin-left: 20px;}
#fillMyLocation {
  margin-top: 10px;
  .btn-success { margin-right: 20px; }
  .btn-primary { margin-top: 6px; margin-right: 50px; }
}
.h1 {
  @extend h1;
}

.input-append {
  .h1 {
    display: inline;
    margin-right: 20px;
    font-size: 36px;
    letter-spacing: -0.05em;
    color: #ffffff;
  }
  input, button {
    vertical-align: text-bottom;
  }
  button {
    margin-top: 3px;
  }
}

#searchResults {
  @extend .span11; margin-left: 0;
}

.listing {
  width: 100%;
  margin-bottom: 30px;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-hover;
  &:last-child {
    margin-bottom: 0;
  }
  th {
    text-align: left;
    background-color: #315D99;
    color: #fff;
    font-size: 16px;
  }
  th.table-title {
    font-size: 24px;
    line-height: 20px;
  }
  tr:last-child th {
    border-left: none;
  }
  tr:last-child th:first-child {
    border-left: 1px solid #ddd;
  }
  th .pull-right {
    margin-right: 14px;
  }
  th, td {
    padding: 6px 0 6px 10px;
  }
  td:last-child {
    padding-right: 10px;
  }
  .vote_count {
    text-align: center;
  }
  .badge {
    @extend .pull-left;
    width: auto;
    margin-top: 4px;
    margin-right: 10px;
  }
  .pos_statement {
    @extend .pull-left;
    width: 80%;
    margin-left: 10px;
  }
}

#hpContent {
  margin-left: 0;
}

#sidebar {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .15));
  @include box-sizing(border-box);
  margin-left: 60px;
  background-color: #e4e4e4;
  &, .login_form {
    @include border-radius(6px);
  }
  .login_box {
    border: none;
    @include border-radius(0);
    @include box-shadow(0);
    hr, br {
      display: none;
    }
  }
  .login_form {
    padding-bottom: 0;
    margin: 5px auto;
  }
  h3 {
    font-size: 18px;
    a img {
      max-width: 50px;
    }
  }
}

textarea {
  height: 100px;
}

.navbar-inverse {
  .navbar-inner {
    background: #80A0CC;
    color: #000;
    border-color: #315c99;
  }
  .brand {
    color: #000;
  }
}

.navbar .nav > li > a {
  padding: 11px 8px 13px;
  &:hover {
    background-color: #999;
  }
}

.navbar .nav > a, .navbar .nav > li > a {
  &, &:visited {
    color: #fff;
    font-weight: bold;
  }
}

#search-nav {
  margin-left: 20px;
}

.brand {
  img {
    height: 20px;
  }
}

footer {
  .container {
    padding: 10px 0;
  }
  a {
    color: #fff;
  }
}

#main {
  .container {
    background-color: #FFF;
  }
}

[contenteditable="true"] {
  padding: 10px;
  outline: 2px dashed #CCC;
}

[contenteditable="true"]:hover {
  outline: 2px dashed #0090D2;
}

.proposal_hub {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}

.main-proposal {
  margin-bottom: 20px;
  h4 {
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #999999;
  }
}

.main-proposal, .supporting_arguments {
  h3 {
    margin-bottom: 10px;
  }
  .proposal-person {
    margin-left: 0;
  }
}

.proposal_statement {
  font-size: 176%;
  margin-bottom: 10px;
}

#relatedProposalsTitle {
  border-top: 1px solid #999;
  padding-top: 20px;
  margin-top: 10px;
}

.related_supporting {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.total_votes {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.span11 > .form-horizontal {
  margin-top: 20px;
  .control-group, .supporting-args {
    margin-bottom: 10px;
  }
}

.select2-container.span4 {
  margin-left: 0;
}

#hub_show {
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  td:first-child {
    font-weight: bold;
  }
}

#proposalsListing {
  td {
    vertical-align: top;
  }
  .proposal_buttons {
    padding-right: 8px;
    line-height: 1.8;
  }
  td.proposal_buttons + td {
    border-left: none;
  }
}
