<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a password reset on your Spokenvote account. If you requested this password reset, please click the link below.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you did not request a password reset, you can ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p>To report a problem, please just reply to this email.</p>
<p><i>-The Spokenvote Team</i></p>

<h2>Thank you for using Spokenvote!</h2>
