%h1 Listing hubs_positions

%table
  %tr
    %th
    %th
    %th

  - @hubs_positions.each do |hubs_position|
    %tr
      %td= link_to 'Show', hubs_position
      %td= link_to 'Edit', edit_hubs_position_path(hubs_position)
      %td= link_to 'Destroy', hubs_position, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Governing bodies position', new_hubs_position_path
