#hubModal.modal(ng-controller="HubsCtrl")
  .modal-header
    .pull-right(class='close' data-dismiss='modal') &times;
    %h3 Create a new Group

    .content( alert-bar alertmessageclear='alertService.alertClass' )

  .modal-body
    %form( name='newHubForm' )
      %fieldset
        .form-group
          .controls
            %input(id='hub_group_name' type='text' class='input-xlarge' placeholder='Enter your new group name' ng-model='hub_attributes.group_name' ng-minlength='5' required)
          .controls
            %input(name="formatted_location" id='hub_formatted_location' type='text' class='input-xlarge' placeholder="Enter the Group's Location" ng-model='hub_attributes.formatted_location' sv-google-place required)
            %span(ng-show='!newHubForm.formatted_location.$valid') Choose a valid location.
  .modal-footer
    %fieldset
      .form-group
        .controls
          %button(ng-click='addHub()' class='btn btn-primary btn-bold' ng-disabled='!newHubForm.$valid') Add Group <i class="icon-ok"></i>

