%section#homepage.span11
  .page_title
    %h1.brand Influence a group, impact the world.
    %h1

      %span Voting redefined.
    %h4
      Browse proposals, support one or branch your own. Participate in real decisions.
    %a(href='/about') More...
